Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,jsx,tsx,astro,json,md,yml}": ["prettier --write"],
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

feat: add upcoming event(womens day) and bring back commission
  astro-frontend/src/assets/upcoming-events/womens-day.jpg
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/constants/upcoming-events.ts
Due: prettier --write, eslint --fix

feat: make upcoming events clickable and update strapi env example
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  strapi-backend/.env.example
Due: prettier --write

fix: coming soon unclickable and add hover effect
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
Due: prettier --write

revert: husky and commitlint
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc.mjs
  README.md
  commitlint.config.mjs
  package.json
Due: prettier --write

fix: ui breaking and ward info
  astro-frontend/src/assets/wards/mr-fredrick-dsouza.jpg
  astro-frontend/src/assets/wards/mrs-veera-dsouza.jpg
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/constants/pastoral-council-members.ts
  astro-frontend/src/constants/wards.ts
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

feat: add event, kowdoor-b ward feast
  astro-frontend/src/assets/events/event30.jpg
  astro-frontend/src/constants/events.ts
  astro-frontend/src/constants/pope-intention-kok.ts
Due: prettier --write, eslint --fix

feat: test coolify build-1
  astro-frontend/astro.config.mjs
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
Due: prettier --write

feat: add nixpacks config
  astro-frontend/nixpacks.toml
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
Due: prettier --write

fix: glibc package
  astro-frontend/nixpacks.toml
Due: none

fix: migrate from nixpacks to docker
  astro-frontend/.dockerignore
  astro-frontend/Dockerfile
  astro-frontend/nixpacks.toml
  astro-frontend/package.json
Due: prettier --write

feat: strapi coolify deployment
  package.json
  strapi-backend/.dockerignore
  strapi-backend/.env.example
  strapi-backend/Dockerfile
Due: prettier --write

feat: add lock file
  strapi-backend/.gitignore
  strapi-backend/pnpm-lock.yaml
Due: none

feat: test dev environment
  astro-frontend/src/constants/events.ts
Due: prettier --write, eslint --fix

feat: dev environment healthy af
  astro-frontend/src/constants/events.ts
Due: prettier --write, eslint --fix

feat: prod environment too healthy af
  astro-frontend/.env.example
  astro-frontend/src/assets/upcoming-events/womens-day-1.jpg
  astro-frontend/src/constants/events.ts
  astro-frontend/src/constants/upcoming-events.ts
Due: prettier --write, eslint --fix

fix: update Dockerfile
  strapi-backend/Dockerfile
Due: none

feat: final strapi setup
  package.json
  strapi-backend/docker-compose.yml
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write

feat: sync changes
  astro-frontend/pnpm-lock.yaml
  strapi-backend/pnpm-lock.yaml
Due: none

feat: add date fns
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
Due: prettier --write

chore: remove unwanted strapi functions
  astro-frontend/src/services/landing-page-carousel-image.ts
  astro-frontend/src/services/landing-page-parish-pastrol.ts
  astro-frontend/src/services/landing-page-parish-priest-message.ts
Due: prettier --write, eslint --fix

feat: test env in prod
  astro-frontend/src/helpers/strapi-fetch.ts
Due: prettier --write, eslint --fix

feat: thinking out of the box
  astro-frontend/src/helpers/strapi-fetch.ts
Due: prettier --write, eslint --fix

feat: update Dockerfile to pick the damn env
  astro-frontend/Dockerfile
Due: none

chore: avoid search engines from seeing strapi reference
  astro-frontend/Dockerfile
  astro-frontend/src/helpers/strapi-fetch.ts
Due: prettier --write, eslint --fix

chore: avoid search engines from seeing strapi reference
  strapi-backend/public/robots.txt
Due: none

fix: query params and good night
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/services/events/get-event.ts
Due: prettier --write, eslint --fix

feat: switch adapters dynamically
  astro-frontend/Dockerfile
  astro-frontend/astro.config.mjs
  astro-frontend/src/env.d.ts
Due: prettier --write, eslint --fix

fix: obituary ui in mobile
  astro-frontend/package.json
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
Due: prettier --write

fix: obituary ui in mobile
  astro-frontend/src/constants/events.ts
  astro-frontend/src/constants/obituary-list.ts
Due: prettier --write, eslint --fix

fix: lock file risen
  astro-frontend/astro.config.mjs
  astro-frontend/pnpm-lock.yaml
Due: none

feat: remove BS from Dockerfile
  astro-frontend/Dockerfile
Due: none

feat: test netlify build
  astro-frontend/netlify.toml
Due: none

fix: add netlify function name
  astro-frontend/astro.config.mjs
Due: none

test: some shit
  astro-frontend/astro.config.mjs
  astro-frontend/netlify.toml
Due: none

test: some shit 1
  astro-frontend/Dockerfile
Due: none

test: some shit 2
  astro-frontend/astro.config.mjs
Due: none

fix: fuck netlify
  astro-frontend/astro.config.mjs
Due: none
