Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,jsx,tsx,astro,json,md,yml}": ["prettier --write"],
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

feat: happy easter
  astro-frontend/public/easter-background.avif
  astro-frontend/src/components/EasterPetals.tsx
  astro-frontend/src/components/SeasonalPopup.tsx
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/ui/EasterLights.tsx
  astro-frontend/src/helpers/is-easter.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

feat: easter animation improvements
  astro-frontend/src/components/EasterPetals.tsx
  astro-frontend/src/components/SeasonalPopup.tsx
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

fix: removed petals
  astro-frontend/src/components/EasterPetals.tsx
  astro-frontend/src/components/SeasonalPopup.tsx
Due: prettier --write, eslint --fix

chore(deps): upgrade Node.js, Astro, and Strapi
  astro-frontend/.npmrc
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/astro.config.mjs
  astro-frontend/bun.lockb
  astro-frontend/package.json
  astro-frontend/src/scripts/service-worker.ts
  strapi-backend/.nvmrc
  strapi-backend/Dockerfile
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: changes
  astro-frontend/src/components/EasterPetals.tsx
  astro-frontend/src/components/SeasonalPopup.tsx
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

chore: fixes
  astro-frontend/src/components/ChristmasPopup.tsx
  astro-frontend/src/components/SeasonalPopup.tsx
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/pages/ex-vp-secretaries.astro
Due: prettier --write, eslint --fix

fix: padding
  astro-frontend/src/components/SeasonalPopup.tsx
Due: prettier --write, eslint --fix

feat: happy easter (#358)
  astro-frontend/public/easter-background.avif
  astro-frontend/src/components/ChristmasPopup.tsx
  astro-frontend/src/components/EasterPetals.tsx
  astro-frontend/src/components/SeasonalPopup.tsx
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/ui/EasterLights.tsx
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/helpers/is-easter.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/ex-vp-secretaries.astro
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

chore: upgrade node astro strapi (#360)
  astro-frontend/.npmrc
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/astro.config.mjs
  astro-frontend/bun.lockb
  astro-frontend/package.json
  astro-frontend/src/scripts/service-worker.ts
  strapi-backend/.nvmrc
  strapi-backend/Dockerfile
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: resolve comments
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/helpers/get-gurkar-title.ts
  astro-frontend/src/models/obituary.ts
  astro-frontend/src/models/religious-vocation.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: navigate to paginated events list page from search results
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/helpers/get-event-list-page-url.ts
  astro-frontend/src/pages/api/events/find-page.ts
Due: prettier --write, eslint --fix

fix: use withCount to avoid hardcoded pageSize=1000
  astro-frontend/src/pages/api/events/find-page.ts
Due: prettier --write, eslint --fix

fix: scroll to event card after navigating to paginated list page
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/helpers/get-event-list-page-url.ts
  astro-frontend/src/pages/api/events/find-page.ts
Due: prettier --write, eslint --fix

fix(event-card): add scroll-mt to prevent fixed header overlap on anchor navigation
  astro-frontend/src/components/event-card.astro
Due: prettier --write

fix: resolve TS errors in obituary and vocations
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/services/religious-vocations/get-religious-vocations.ts
Due: prettier --write, eslint --fix

feat: rename logo.png to church-logo.png
  strapi-backend/src/admin/app.js
  strapi-backend/src/extensions/church-logo.png
Due: prettier --write, eslint --fix

feat: enhance pagination component with page jump functionality
  astro-frontend/src/components/pagination.astro
Due: prettier --write

fix: mobile pagination input logic
  astro-frontend/src/components/pagination.astro
Due: prettier --write

fix(events): fix association filter redirect
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/constants/index.ts
  astro-frontend/src/helpers/get-event-list-page-url.ts
  astro-frontend/src/pages/api/events/find-page.ts
  astro-frontend/src/services/events/list-events.ts
Due: prettier --write, eslint --fix

fix: input no longer navigates on value change. navigates only when the form is submitted.
  astro-frontend/src/components/pagination.astro
Due: prettier --write

feat: enhance pagination component with localization and validation messages
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

fix: update pagination component styles for improved responsiveness
  astro-frontend/src/components/pagination.astro
Due: prettier --write

fix: scroll down automatically to the event searched (#361)
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/constants/index.ts
  astro-frontend/src/helpers/get-event-list-page-url.ts
  astro-frontend/src/pages/api/events/find-page.ts
  astro-frontend/src/services/events/list-events.ts
Due: prettier --write, eslint --fix

feat: add localization for validation messages of pagination input fields
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

fix: pagination ui improvements on mobile
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/helpers/get-pagination-range.ts
Due: prettier --write, eslint --fix

feat: add email and push notifications for parishioners achievements
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements.astro
  strapi-backend/src/api/parishioners-achievement/content-types/parishioners-achievement/lifecycles.ts
Due: prettier --write, eslint --fix

fix: network image handling
  astro-frontend/bun.lockb
  astro-frontend/package.json
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/landing-page/pastoral-council-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-finance-committee/parish-finance-committee-list.astro
  astro-frontend/src/components/sections/parish-priests-and-deacons/parish-priests-and-deacons-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
Due: prettier --write, eslint --fix

fix: remove unused imageClass prop from ProfileCard component
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/parish-priests-and-deacons/parish-priests-and-deacons-list.astro
Due: prettier --write

fix 404 on older magazine slugs by fetching full catalogue
  astro-frontend/src/pages/kok/pompeichem-falkem/[slug].astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
  astro-frontend/src/services/list-magazines.ts
Due: prettier --write, eslint --fix

hotfix: be build
  strapi-backend/Dockerfile
Due: none

fix: network image
  astro-frontend/src/components/ui/network-image.astro
Due: prettier --write

chore: format
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/helpers/get-gurkar-title.ts
  astro-frontend/src/pages/404.astro
  astro-frontend/src/pages/api/events/find-page.ts
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements.astro
Due: prettier --write, eslint --fix

feat: achievements notifications and emails
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/helpers/get-gurkar-title.ts
  astro-frontend/src/pages/404.astro
  astro-frontend/src/pages/api/events/find-page.ts
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements.astro
  strapi-backend/src/api/parishioners-achievement/content-types/parishioners-achievement/lifecycles.ts
Due: prettier --write, eslint --fix

test: network image
  astro-frontend/src/components/ui/network-image.astro
Due: prettier --write

feat: pagination ellipsis event handling
  astro-frontend/src/components/pagination.astro
Due: prettier --write

feat: enhance pagination component with page jump functionality (#363)
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/helpers/get-pagination-range.ts
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

fix: downgrade astro
  astro-frontend/bun.lockb
  astro-frontend/package.json
Due: prettier --write

feat: add emails (#359)
  astro-frontend/src/constants/index.ts
  strapi-backend/src/constants/index.ts
Due: prettier --write, eslint --fix
