Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,jsx,tsx,astro,json,md,yml}": ["prettier --write"],
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

fix: update push notification logic to include obituary section & Z index fix for view all link
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/scripts/push-notification.ts
Due: prettier --write, eslint --fix

fix: update script tag to use type="module" for push notification
  astro-frontend/src/components/push-notification.astro
Due: prettier --write

fix: push notification component
  astro-frontend/src/components/push-notification.astro
  astro-frontend/src/scripts/push-notification.ts
Due: prettier --write, eslint --fix

fix: Delay the prompt by 3 seconds
  astro-frontend/src/scripts/push-notification.ts
Due: prettier --write, eslint --fix

Test
  astro-frontend/src/components/push-notification.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/scripts/push-notification.ts
Due: prettier --write, eslint --fix

Fix
  astro-frontend/src/components/push-notification.astro
Due: prettier --write

fix: improve push notification prompt handling
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/push-notification.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/scripts/push-notification.ts
Due: prettier --write, eslint --fix

fix: improve push notification prompt handling (#201)
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/push-notification.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/scripts/push-notification.ts
Due: prettier --write, eslint --fix

chore: upgrade Strapi to v5.14.0, Node to v22.16.0
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

chore: upgrade Strapi to v5.14.0, Node to v22.16.0 (#202)
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

chore: update runner stage to use Node.js 22.16.0
  strapi-backend/Dockerfile
Due: none

Upgrade/strapi v5.14.0 node v22.16.0 (#203)
  strapi-backend/Dockerfile
Due: none

fix: restore hoverable link styles
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/ui/hoverable-link.astro
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

fix: refactor hero section layout and remove animation classes
  astro-frontend/src/components/sections/landing-page/hero-section.astro
Due: prettier --write

fix: hoverable link styles
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/ui/hoverable-link.astro
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

Fix: konkani meta data in open graph
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

Fix: konkani meta data in open graph (#205)
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

fix: update navbar styles to use shadow instead of border
  astro-frontend/src/components/navbar.astro
Due: prettier --write

fix: hoverable link styles (#206)
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/ui/hoverable-link.astro
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

chore: improve vitals
  astro-frontend/bun.lock
  astro-frontend/package.json
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/feature-youtube.astro
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/normal-card.astro
  astro-frontend/src/components/obituary-card.astro
  astro-frontend/src/components/pastoral-council-card.astro
  astro-frontend/src/components/sections/contact/contact-map.astro
  astro-frontend/src/components/sections/landing-page/social-grid.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/landing-page/youtube-video.astro
  astro-frontend/src/components/sections/prayer-corner/jubilee-year.astro
  astro-frontend/src/components/ui/hoverable-link.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
  astro-frontend/src/pages/contact.astro
  astro-frontend/src/pages/kok/contact.astro
Due: prettier --write, eslint --fix

feat: accessibility
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/normal-card.astro
  astro-frontend/src/components/pastoral-council-card.astro
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/prayer-corner/novena.astro
Due: prettier --write

feat: optimize vitals
  astro-frontend/src/components/feature-youtube.astro
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/social-grid.astro
  astro-frontend/src/components/sections/landing-page/youtube-video.astro
  astro-frontend/src/styles/global.css
Due: prettier --write

feat: optimize vitals
  astro-frontend/src/components/feature-youtube.astro
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/social-grid.astro
  astro-frontend/src/styles/global.css
Due: prettier --write

feat: add temporary logo and optimize image loading in hero section
  astro-frontend/src/assets/static-assets/temp-logo.webp
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

feat: enhance text visibility in hero section and comment out unused AOS imports
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

feat: add eager loading to background image in hero section
  astro-frontend/src/components/sections/landing-page/hero-section.astro
Due: prettier --write

feat: strapi setup for contact us
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/contact/contact-info.astro
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/models/contact-info.ts
  astro-frontend/src/scripts/push-notification.ts
  astro-frontend/src/scripts/service-worker.ts
  astro-frontend/src/services/get-contact-info.ts
  strapi-backend/.env.example
  strapi-backend/src/api/contact/content-types/contact/schema.json
  strapi-backend/src/api/contact/controllers/contact.ts
  strapi-backend/src/api/contact/routes/contact.ts
  strapi-backend/src/api/contact/services/contact.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat(strapi): setup for wards
  astro-frontend/src/assets/wards/mr-fredrick-dsouza.jpg
  astro-frontend/src/assets/wards/mr-glen-roshan-dcunha.jpg
  astro-frontend/src/assets/wards/mr-ivan-dsouza.jpg
  astro-frontend/src/assets/wards/mr-melwyn-saldanha.jpg
  astro-frontend/src/assets/wards/mr-praveen-lobo.jpg
  astro-frontend/src/assets/wards/mr-rajesh-noronha.jpg
  astro-frontend/src/assets/wards/mr-ronald-dsouza.jpg
  astro-frontend/src/assets/wards/mrs-eveline-sequiera.jpg
  astro-frontend/src/assets/wards/mrs-gretta-lobo.jpg
  astro-frontend/src/assets/wards/mrs-linet-monteiro.jpg
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/constants/wards.ts
  astro-frontend/src/helpers/get-gurkar-title.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/ward-details.ts
  astro-frontend/src/services/get-ward-info.ts
  strapi-backend/src/api/contact/content-types/contact/schema.json
  strapi-backend/src/api/ward/content-types/ward/schema.json
  strapi-backend/src/api/ward/controllers/ward.ts
  strapi-backend/src/api/ward/routes/ward.ts
  strapi-backend/src/api/ward/services/ward.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

chore: updgrade deps to latest version
  astro-frontend/bun.lock
  astro-frontend/package.json
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write

feat(gallery): add new images and zoom-in effect on hover
  astro-frontend/src/assets/gallery/g30.jpg
  astro-frontend/src/assets/gallery/g31.jpeg
  astro-frontend/src/assets/gallery/g32.webp
  astro-frontend/src/assets/gallery/sacrament.jpg
  astro-frontend/src/assets/gallery/sacrament1.jpg
  astro-frontend/src/assets/gallery/sacrament2.jpg
  astro-frontend/src/assets/static-assets/yt-thumbnail.jpg
  astro-frontend/src/components/feature-youtube.astro
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
Due: prettier --write

feat: enhance ward details display
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/pages/kok/wards.astro
  astro-frontend/src/pages/wards.astro
Due: prettier --write

feat: add SelectWard component for selecting wards with smooth scrolling
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/ui/SelectWard.tsx
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/wards.astro
  astro-frontend/src/pages/wards.astro
Due: prettier --write, eslint --fix

feat: update SelectWard component and improve ward details display with smooth scrolling
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/ui/SelectWard.tsx
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/wards.astro
  astro-frontend/src/pages/wards.astro
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

fix: enhance SelectWard component with improved dropdown positioning
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/ui/SelectWard.tsx
Due: prettier --write, eslint --fix

feat: enhance ward details display (#208)
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/ui/SelectWard.tsx
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/wards.astro
  astro-frontend/src/pages/wards.astro
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

fix: card body font weight & konkani vertical text alignment of YT link
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
Due: prettier --write, eslint --fix

fix: card body font weight & konkani vertical text alignment of YT link (#209)
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
Due: prettier --write, eslint --fix

feat: include publisher information in email notifications for events and obituaries
  strapi-backend/src/api/event/content-types/event/lifecycles.ts
  strapi-backend/src/api/obituary/content-types/obituary/lifecycles.ts
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

feat: include publisher information in email notifications for events and obituaries (#210)
  strapi-backend/src/api/event/content-types/event/lifecycles.ts
  strapi-backend/src/api/obituary/content-types/obituary/lifecycles.ts
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

Feat : selection for the obituary on ward based
  astro-frontend/bun.lock
  astro-frontend/package.json
  astro-frontend/src/components/ui/SelectWardRedirect.tsx
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/obituary/[ward].astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/obituary/[ward].astro
  astro-frontend/src/services/obituaries/list-obituaries.ts
Due: prettier --write, eslint --fix
