Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: add entries per page in constant
  astro-frontend/src/constants/entries-per-page.ts
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/obituary/ward/[ward].astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/obituary/ward/[ward].astro
Due: prettier --write, eslint --fix

feat: add localisation
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/constants/achievement-criteria.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/api/send-achievement.ts
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/parishioners-achievements-form.astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
  astro-frontend/src/scripts/send-email-with-attachments.ts
Due: prettier --write, eslint --fix

feat: date picker and character counter and more
  astro-frontend/bun.lock
  astro-frontend/package.json
  astro-frontend/src/assets/icons/calendar.svg
  astro-frontend/src/constants/achievement-criteria.ts
  astro-frontend/src/helpers/send-email.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/api/send-achievement.ts
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
Due: prettier --write, eslint --fix

fix: honeypot and server validation for required fields
  astro-frontend/src/pages/api/send-achievement.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
Due: prettier --write, eslint --fix

fix: language handling for pastoral council data retrieval
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
Due: prettier --write

fix: improve handling of pastoral council data retrieval based on language
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
Due: prettier --write

fix: enhance language handling for parish finance committee, wards and priests/deacons data retrieval
  astro-frontend/src/pages/kok/parish-finance-committee.astro
  astro-frontend/src/pages/kok/parish-priests-and-deacons.astro
  astro-frontend/src/pages/kok/wards.astro
  astro-frontend/src/pages/parish-finance-committee.astro
  astro-frontend/src/pages/parish-priests-and-deacons.astro
  astro-frontend/src/pages/wards.astro
Due: prettier --write

fix: language handling for parish pastoral 21 commissions data retrieval
  astro-frontend/src/pages/kok/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/parish-pastoral-21-commissions.astro
Due: prettier --write

Fix: profile card border on large screens
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/parish-finance-committee/parish-finance-committee-list.astro
  astro-frontend/src/components/sections/parish-priests-and-deacons/parish-priests-and-deacons-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
Due: prettier --write

fix: adjust layout and spacing for various sections to improve responsiveness
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/convents/pompei-convent.astro
  astro-frontend/src/components/sections/convents/rosa-mystica-convent.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/halls/pompei-sabha-bhavan-hall.astro
  astro-frontend/src/components/sections/parish-finance-committee/parish-finance-committee-list.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/parish-priests-and-deacons/parish-priests-and-deacons-list.astro
  astro-frontend/src/components/sections/prayer-corner/prayer-card.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/pages/ex-vp-secretaries.astro
Due: prettier --write

fix: remove duplicates
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/halls/pompei-sabha-bhavan-hall.astro
Due: prettier --write

fix: update profile card layout and implement commission card component
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/parish-pastoral-21-commissions/commission-card.astro
  astro-frontend/src/models/parish-pastoral-21-commission.ts
  astro-frontend/src/pages/contact.astro
  astro-frontend/src/pages/kok/contact.astro
  astro-frontend/src/pages/kok/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/parish-pastoral-21-commissions.astro
Due: prettier --write, eslint --fix

cleanup and improvements
  astro-frontend/src/components/pull-down.astro
  astro-frontend/src/components/sections/parish-pastoral-21-commissions/commission-card.astro
  astro-frontend/src/components/sections/parish-pastoral-21-commissions/pastoral-commission.astro
  astro-frontend/src/pages/parish-pastoral-21-commissions.astro
Due: prettier --write

fix: achievement type field
  astro-frontend/src/helpers/validate-file-input.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/api/send-achievement.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
Due: prettier --write, eslint --fix

refactor: standardize image handling and improve layout for obituary components
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-pastoral-21-commissions.astro
Due: prettier --write, eslint --fix

fix: simplify event image URL retrieval in event pages
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
Due: prettier --write

Feat: add og details to upcoming events
  astro-frontend/bun.lock
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write

Fix: title and scroll of upcoming events
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write

Fix: bun lock
  astro-frontend/bun.lock
Due: none

Fix: bun lock
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write

refactor: update text colors to use slate shades for consistency
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/pastoral-council-card.astro
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/contact/contact-info.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/parish-pastoral-21-commissions/commission-card.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/ui/SelectWard.tsx
  astro-frontend/src/components/ui/SelectWardRedirect.tsx
  astro-frontend/src/components/ui/ShareLink.tsx
  astro-frontend/src/components/ui/share-link.astro
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/pages/404.astro
  astro-frontend/src/pages/contact.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/contact.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/parish-pastoral-21-commissions.astro
Due: prettier --write, eslint --fix

Delete astro-frontend/bun.lock
  astro-frontend/bun.lock
Due: none

Fix: Pagination issue after page 5
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
Due: prettier --write

Add: bun lock file
  astro-frontend/bun.lock
Due: none

Fix: Pagination issue after page 5 (#248)
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
Due: prettier --write

Feat/og details for upcoming events (#249)
  astro-frontend/bun.lock
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write

Fix og title in upcoming events
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write

Fix/og upcoming events (#251)
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write

Fix : add medium size og to event and obituary image
  astro-frontend/bun.lock
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
Due: prettier --write

refactor: standardize image handling and improve layout for obituary … (#244)
  astro-frontend/bun.lock
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/pastoral-council-card.astro
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/contact/contact-info.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-pastoral-21-commissions/commission-card.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/ui/SelectWard.tsx
  astro-frontend/src/components/ui/SelectWardRedirect.tsx
  astro-frontend/src/components/ui/ShareLink.tsx
  astro-frontend/src/components/ui/share-link.astro
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/pages/404.astro
  astro-frontend/src/pages/contact.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/contact.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-pastoral-21-commissions.astro
Due: prettier --write, eslint --fix

feat: add data loss confirmation for achievement type and reorder form fields
  astro-frontend/src/components/sections/parishioners-achievements/data-loss-confirmation.astro
  astro-frontend/src/helpers/data-loss-confirmation.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/api/send-achievement.ts
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
Due: prettier --write, eslint --fix

feat: block user interaction during confirmation prompt
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
Due: prettier --write, eslint --fix

fix: freeze screen
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
Due: prettier --write, eslint --fix

refactor: api error handling and optimisation
  astro-frontend/src/helpers/send-email.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/api/send-achievement.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,astro,json,md,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
