Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: fonts
  astro-frontend/src/components/sections/contact/contact-info.astro
  astro-frontend/src/components/sections/convents/pompei-convent.astro
  astro-frontend/src/components/sections/convents/rosa-mystica-convent.astro
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/halls/pompei-sabha-bhavan-hall.astro
  astro-frontend/src/components/sections/institutions/bethany-school.astro
  astro-frontend/src/components/sections/institutions/jeevadaan.astro
  astro-frontend/src/components/sections/institutions/rosa-mystica.astro
  astro-frontend/src/components/sections/institutions/snehasadan.astro
  astro-frontend/src/pages/kok/ex-vp-secretaries.astro
  astro-frontend/src/pages/kok/parish-priests-and-deacons.astro
  astro-frontend/src/pages/parish-priests-and-deacons.astro
Due: prettier --write

fix: reduce number of api calls
  astro-frontend/src/pages/sitemap-events.xml.ts
  astro-frontend/src/pages/sitemap-obituaries.xml.ts
Due: prettier --write, eslint --fix

fix: bugs (#233)
  astro-frontend/package.json
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/contact/contact-info.astro
  astro-frontend/src/components/sections/convents/pompei-convent.astro
  astro-frontend/src/components/sections/convents/rosa-mystica-convent.astro
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/halls/pompei-sabha-bhavan-hall.astro
  astro-frontend/src/components/sections/institutions/bethany-school.astro
  astro-frontend/src/components/sections/institutions/jeevadaan.astro
  astro-frontend/src/components/sections/institutions/rosa-mystica.astro
  astro-frontend/src/components/sections/institutions/snehasadan.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/env.ts
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/ex-vp-secretaries.astro
  astro-frontend/src/pages/kok/parish-priests-and-deacons.astro
  astro-frontend/src/pages/parish-priests-and-deacons.astro
  astro-frontend/src/pages/sitemap-events.xml.ts
  astro-frontend/src/pages/sitemap-index.xml.ts
  astro-frontend/src/pages/sitemap-obituaries.xml.ts
  astro-frontend/src/pages/sitemap.xml.ts
Due: prettier --write, eslint --fix

Feat: add meta tag to parish history for konkani
  astro-frontend/src/layouts/layout.astro
  astro-frontend/src/pages/kok/parish-history.astro
Due: prettier --write

feat: achievement card
  astro-frontend/src/assets/icons/badge.svg
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/parishioners-achievements/parishioners-achievements-list.astro
  astro-frontend/src/constants/nav-links.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/parishioners-achievements.astro
Due: prettier --write, eslint --fix

Feat : Add meta data for about us sub sections
  astro-frontend/src/pages/convents.astro
  astro-frontend/src/pages/ex-vp-secretaries.astro
  astro-frontend/src/pages/institutions.astro
  astro-frontend/src/pages/kok/convents.astro
  astro-frontend/src/pages/kok/ex-vp-secretaries.astro
  astro-frontend/src/pages/kok/institutions.astro
  astro-frontend/src/pages/kok/parish-finance-committee.astro
  astro-frontend/src/pages/kok/parish-history.astro
  astro-frontend/src/pages/kok/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/kok/parish-priests-and-deacons.astro
  astro-frontend/src/pages/kok/religious-vocations.astro
  astro-frontend/src/pages/kok/wards.astro
  astro-frontend/src/pages/parish-finance-committee.astro
  astro-frontend/src/pages/parish-history.astro
  astro-frontend/src/pages/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/parish-priests-and-deacons.astro
  astro-frontend/src/pages/religious-vocations.astro
  astro-frontend/src/pages/wards.astro
Due: prettier --write

Trigger Build
  astro-frontend/src/pages/ex-vp-secretaries.astro
  astro-frontend/src/pages/kok/ex-vp-secretaries.astro
Due: prettier --write

Feat: add meta tags for rest of the pages
  astro-frontend/src/helpers/strip-html.ts
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/centenary-hall.astro
  astro-frontend/src/pages/contact.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/centenary-hall.astro
  astro-frontend/src/pages/kok/contact.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/gallery.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/kok/prayer-corner.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/parish-history.astro
  astro-frontend/src/pages/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/pages/prayer-corner.astro
Due: prettier --write, eslint --fix

Feat: add meta tag data for each pages (#235)
  astro-frontend/src/helpers/strip-html.ts
  astro-frontend/src/layouts/layout.astro
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/centenary-hall.astro
  astro-frontend/src/pages/contact.astro
  astro-frontend/src/pages/convents.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/ex-vp-secretaries.astro
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/institutions.astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/centenary-hall.astro
  astro-frontend/src/pages/kok/contact.astro
  astro-frontend/src/pages/kok/convents.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/ex-vp-secretaries.astro
  astro-frontend/src/pages/kok/gallery.astro
  astro-frontend/src/pages/kok/institutions.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/parish-finance-committee.astro
  astro-frontend/src/pages/kok/parish-history.astro
  astro-frontend/src/pages/kok/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/kok/parish-priests-and-deacons.astro
  astro-frontend/src/pages/kok/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/kok/prayer-corner.astro
  astro-frontend/src/pages/kok/religious-vocations.astro
  astro-frontend/src/pages/kok/wards.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/parish-finance-committee.astro
  astro-frontend/src/pages/parish-history.astro
  astro-frontend/src/pages/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/parish-priests-and-deacons.astro
  astro-frontend/src/pages/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/pages/prayer-corner.astro
  astro-frontend/src/pages/religious-vocations.astro
  astro-frontend/src/pages/wards.astro
Due: prettier --write, eslint --fix

fix: ui bugs
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
Due: prettier --write

feat: dynamic pages for each achiever
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/parishioners-achievements/parishioners-achievements-list.astro
  astro-frontend/src/constants/dummy-data.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
Due: prettier --write, eslint --fix

Fix: add 404 page for events and obituary
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
Due: prettier --write

Fix: add 404 page for events and obituary (#238)
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
Due: prettier --write

feat: strapi setup
  strapi-backend/src/api/parishioners-achievement/content-types/parishioners-achievement/schema.json
  strapi-backend/src/api/parishioners-achievement/controllers/parishioners-achievement.ts
  strapi-backend/src/api/parishioners-achievement/routes/parishioners-achievement.ts
  strapi-backend/src/api/parishioners-achievement/services/parishioners-achievement.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: add services and other requirements
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/parishioners-achievements/additional-images-carousel.astro
  astro-frontend/src/components/sections/parishioners-achievements/parishioners-achievements-list.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/parishioners-achievement.ts
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
  astro-frontend/src/services/parishioners-achievements/get-achiever.ts
  astro-frontend/src/services/parishioners-achievements/list-achievements.ts
  strapi-backend/src/api/parishioners-achievement/content-types/parishioners-achievement/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: ui bugs
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/parishioners-achievements/additional-images-carousel.astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
Due: prettier --write

feat: add WhatsApp share button to event cards with black icon
  astro-frontend/src/assets/react-icons/whatsapp.svg
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/ui/whatsapp-share.astro
Due: prettier --write

Fix: color of whatsapp share button and add whatsapp share button to obituary
  astro-frontend/src/assets/icons/whatsapp.svg
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/ui/whatsapp-share.astro
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
Due: prettier --write, eslint --fix

Fix: build error
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write

feat: add WhatsApp share button to event and obituary cards with Gray icon (#239)
  astro-frontend/README.md
  astro-frontend/src/assets/icons/whatsapp.svg
  astro-frontend/src/assets/react-icons/whatsapp.svg
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
  strapi-backend/README.md
Due: prettier --write, eslint --fix

Fix: remove unwanted svg and client load whatsapp svg
  astro-frontend/src/assets/icons/whatsapp.svg
  astro-frontend/src/assets/react-icons/whatsapp.svg
  astro-frontend/src/components/ui/whatsapp-share.tsx
Due: prettier --write, eslint --fix

Fix: link of whatsapp share
  astro-frontend/src/components/ui/whatsapp-share.tsx
Due: prettier --write, eslint --fix

Fix: remove unwanted svg and client load whatsapp svg (#240)
  astro-frontend/src/assets/icons/whatsapp.svg
  astro-frontend/src/assets/react-icons/whatsapp.svg
  astro-frontend/src/components/ui/whatsapp-share.tsx
Due: prettier --write, eslint --fix

Fix: url issue in whatsapp share
  astro-frontend/src/components/ui/whatsapp-share.tsx
Due: prettier --write, eslint --fix

Trigger Build~
  astro-frontend/src/components/ui/whatsapp-share.tsx
Due: prettier --write, eslint --fix

remove svg
  astro-frontend/src/assets/icons/whatsapp.svg
  astro-frontend/src/assets/react-icons/whatsapp.svg
Due: none

feat: add WhatsApp share button to event and obituary cards with Gray icon (#239)
  astro-frontend/README.md
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
  strapi-backend/README.md
Due: prettier --write, eslint --fix

feat: forms frontend
  astro-frontend/src/assets/icons/check-mark.svg
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/parishioners-achievements/parishioners-achievements-list.astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements-form.astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
Due: prettier --write

fix: ui improvements
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/parishioners-achievements/additional-images-carousel.astro
  astro-frontend/src/constants/dummy-data.ts
  astro-frontend/src/constants/message.ts
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
Due: prettier --write, eslint --fix

fix: build error
  astro-frontend/src/pages/parishioners-achievements-form.astro
Due: prettier --write

fix: restrict max width and other ui improvements
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/parishioners-achievements/additional-images-carousel.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
Due: prettier --write, eslint --fix

fix: load script via function
  astro-frontend/src/pages/parishioners-achievements-form.astro
  astro-frontend/src/scripts/achievements-form.ts
Due: prettier --write, eslint --fix

fix: explicitly include script tag in build output
  astro-frontend/src/pages/parishioners-achievements-form.astro
  astro-frontend/src/scripts/achievements-form.ts
Due: prettier --write, eslint --fix

fix: script tag inside layout
  astro-frontend/src/pages/parishioners-achievements-form.astro
Due: prettier --write

feat: resend integration
  astro-frontend/bun.lock
  astro-frontend/package.json
  astro-frontend/src/constants/constants.ts
  astro-frontend/src/pages/api/send-achievement.ts
  astro-frontend/src/pages/parishioners-achievements-form.astro
  astro-frontend/src/scripts/achievement-form.ts
  astro-frontend/src/scripts/achievements-form.ts
  astro-frontend/src/scripts/send-achievement-email.ts
Due: prettier --write, eslint --fix

fix: remove template literals for api key
  astro-frontend/src/scripts/send-achievement-email.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,astro,json,md,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
