Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,jsx,tsx,astro,json,md,yml}": ["prettier --write"],
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

Added missing import
  astro-frontend/astro.config.mjs
Due: none

feat: merry christmas
  astro-frontend/astro.config.mjs
  astro-frontend/bun.lock
  astro-frontend/bun.lockb
  astro-frontend/package-lock.json
  astro-frontend/package.json
  astro-frontend/src/components/ChristmasPopup.tsx
  astro-frontend/src/components/ChristmasSnowfall.tsx
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/parish-history/parish-details.astro
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
  astro-frontend/src/styles/global.css
  bun.lockb
  package.json
Due: prettier --write, eslint --fix

fix: set eventImage as required in upcoming events schema (#299)
  astro-frontend/astro.config.mjs
  astro-frontend/bun.lock
  astro-frontend/bun.lockb
  astro-frontend/package-lock.json
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: add snow pile up and string lights
  astro-frontend/src/components/ChristmasSnowfall.tsx
  astro-frontend/src/components/SnowWithPile.tsx
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/ui/ChristmasLights.tsx
  astro-frontend/src/helpers/is-christmas.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

feat: add snow pile up and string lights (#301)
  astro-frontend/src/components/ChristmasSnowfall.tsx
  astro-frontend/src/components/SnowWithPile.tsx
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/ui/ChristmasLights.tsx
  astro-frontend/src/helpers/is-christmas.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

fix: upcoming event date handling and display logic
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: upcoming event date handling and display logic (#302)
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: snow ui
  astro-frontend/src/components/SnowAnimation.tsx
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

fix: snow on page load
  astro-frontend/src/components/SnowAnimation.tsx
Due: prettier --write, eslint --fix

Fix gallery layout: reduce vertical spacing and add heading margin
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/scripts/gallery-lightbox.ts
Due: prettier --write, eslint --fix

Fix gallery layout: reduce spacing
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
Due: prettier --write

Add responsive padding
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
Due: prettier --write

fix(gallery): reduce padding between images
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
Due: prettier --write

feat: dynamic christmas wishes
  astro-frontend/src/components/ChristmasPopup.tsx
  astro-frontend/src/components/SnowAnimation.tsx
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/helpers/is-christmas.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

fix: make the slug mandatory
  strapi-backend/src/api/event/content-types/event/schema.json
Due: prettier --write

fix: make slug mandatory
  strapi-backend/src/api/event/content-types/event/schema.json
Due: prettier --write

fix: make slug mandatory (#306)
  strapi-backend/src/api/event/content-types/event/schema.json
Due: prettier --write

fix: Add brother and sister to relations
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: Add brother and sister to relations (#307)
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Added s/o and b/o
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
Due: prettier --write

Fix/brosis (#308)
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
Due: prettier --write

Add brother and sister to relations
  astro-frontend/src/components/ObituaryCard.tsx
Due: prettier --write, eslint --fix

Fix/brosis (#309)
  astro-frontend/src/components/ObituaryCard.tsx
Due: prettier --write, eslint --fix

fix: made more changes
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/enums/obituary.ts
Due: prettier --write, eslint --fix

Add relation type sister and brother to gender
  astro-frontend/src/helpers/get-funeral-prayer.ts
Due: prettier --write, eslint --fix

Fix/brosis (#310)
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/enums/obituary.ts
  astro-frontend/src/helpers/get-funeral-prayer.ts
Due: prettier --write, eslint --fix

Changed b/o to brother of and s/o to sister of
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/enums/obituary.ts
Due: prettier --write, eslint --fix

Changed b/o to brother of and s/o to sister of (#311)
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/enums/obituary.ts
Due: prettier --write, eslint --fix

fix: make the remaining changes for b/o and s/o
  astro-frontend/src/components/ObituaryCard.tsx
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Fix/brooandsis (#312)
  astro-frontend/src/components/ObituaryCard.tsx
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: make slug mandatory for obituary
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
Due: prettier --write

Fix/brooandsis (#313)
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
Due: prettier --write

Add clickable carousel images
  astro-frontend/src/components/sections/landing-page/homepage-carousel-section.astro
  astro-frontend/src/components/ui/HomepageCarousel.tsx
Due: prettier --write, eslint --fix

fix: improve sibling relations naming and enforce slug validation
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/enums/obituary.ts
  astro-frontend/src/helpers/get-funeral-prayer.ts
  strapi-backend/src/api/event/content-types/event/schema.json
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix(nav): prevent background scrolling when mobile menu is open
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/scripts/handle-nav.ts
Due: prettier --write, eslint --fix

Fix: Add link property to CarouselItem type
  astro-frontend/src/models/landing-page-carousel.ts
Due: prettier --write, eslint --fix

Formatting
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/helpers/is-christmas.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/gallery.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

fix(nav): prevent background scrolling when mobile menu is open (#315)
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/helpers/is-christmas.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/gallery.astro
  astro-frontend/src/pages/kok/index.astro
  astro-frontend/src/scripts/handle-nav.ts
Due: prettier --write, eslint --fix

feat: add new year wishes
  astro-frontend/src/components/ChristmasPopup.tsx
  astro-frontend/src/i18n/ui.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix
