Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,jsx,tsx,astro,json,md,yml}": ["prettier --write"],
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

chore: upgrade deps and node version
  astro-frontend/.npmrc
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/bun.lockb
  astro-frontend/package.json
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/halls/pompei-sabha-bhavan-hall.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/parishioners-achievements/parishioners-achievements-list.astro
  astro-frontend/src/constants/ex-vp-secretaries.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions/events.astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-pastoral-commissions/events.astro
Due: prettier --write, eslint --fix

chore: upgrade deps and node version
  strapi-backend/Dockerfile
  strapi-backend/package.json
Due: prettier --write

feat: strapi setup for ex vice presidents and secretaries
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/enums/ex-office-bearers-role.ts
  astro-frontend/src/models/ex-vice-president-and-secretary.ts
  astro-frontend/src/services/list-ex-vice-presidents-and-secretaries-data.ts
  strapi-backend/src/api/ex-vice-president-and-secretary/content-types/ex-vice-president-and-secretary/schema.json
  strapi-backend/src/api/ex-vice-president-and-secretary/controllers/ex-vice-president-and-secretary.ts
  strapi-backend/src/api/ex-vice-president-and-secretary/routes/ex-vice-president-and-secretary.ts
  strapi-backend/src/api/ex-vice-president-and-secretary/services/ex-vice-president-and-secretary.ts
  strapi-backend/src/components/shared/terms.json
  strapi-backend/types/generated/components.d.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Made all the fixes
  astro-frontend/src/helpers/format-date.ts
  astro-frontend/src/models/religious-vocation.ts
  astro-frontend/src/services/religious-vocations/get-religious-vocations.ts
  strapi-backend/src/api/religious-vocation/content-types/religious-vocation/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Made more fixes
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/religious-vocation.ts
  astro-frontend/src/services/religious-vocations/get-religious-vocations.ts
Due: prettier --write, eslint --fix

fix: resolve comments
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/enums/term-number.ts
  astro-frontend/src/services/list-ex-vice-presidents-and-secretaries-data.ts
Due: prettier --write, eslint --fix

Made more changes
  astro-frontend/src/components/sections/religious-nuns/religious-nuns-list.astro
  astro-frontend/src/components/sections/religious-priests/religious-priests-list.astro
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/models/religious-vocation.ts
  astro-frontend/src/pages/kok/religious-vocations.astro
  astro-frontend/src/pages/religious-vocations.astro
  astro-frontend/src/services/religious-vocations/get-religious-vocations.ts
Due: prettier --write, eslint --fix

feat: include event name in upcoming event email notification
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

Top G
  astro-frontend/src/components/sections/religious-nuns/religious-nuns-list.astro
  astro-frontend/src/components/sections/religious-priests/religious-priests-list.astro
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/helpers/format-date.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/religious-vocations.astro
  astro-frontend/src/pages/religious-vocations.astro
  astro-frontend/src/services/religious-vocations/get-religious-vocations.ts
Due: prettier --write, eslint --fix

fix: fetch priests and nuns in parallel using Promise.all
  astro-frontend/src/pages/religious-vocations.astro
Due: prettier --write

chore: upgrade deps and node version
  astro-frontend/.npmrc
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/bun.lockb
  astro-frontend/package.json
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/halls/pompei-sabha-bhavan-hall.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/parishioners-achievements/parishioners-achievements-list.astro
  astro-frontend/src/constants/ex-vp-secretaries.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions/events.astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-pastoral-commissions/events.astro
  strapi-backend/Dockerfile
  strapi-backend/package.json
Due: prettier --write, eslint --fix

chore: ts check
  astro-frontend/bun.lockb
  strapi-backend/bun.lockb
Due: none

fixed promise.all
  astro-frontend/src/pages/religious-vocations.astro
Due: prettier --write

feat: strapi setup for religious vocations (#341)
  astro-frontend/src/components/sections/religious-nuns/religious-nuns-list.astro
  astro-frontend/src/components/sections/religious-priests/religious-priests-list.astro
  astro-frontend/src/components/ui/network-image.astro
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/enums/religious-vocation-role.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/religious-vocation.ts
  astro-frontend/src/pages/kok/religious-vocations.astro
  astro-frontend/src/pages/religious-vocations.astro
  astro-frontend/src/services/religious-vocations/get-religious-vocations.ts
  strapi-backend/src/api/religious-vocation/content-types/religious-vocation/schema.json
  strapi-backend/src/api/religious-vocation/controllers/religious-vocation.ts
  strapi-backend/src/api/religious-vocation/routes/religious-vocation.ts
  strapi-backend/src/api/religious-vocation/services/religious-vocation.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Add translation for kandar ward
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Add translation for kandar ward (#349)
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Revert "Add translation for kandar ward (#349)"
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Added translation for kandar
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

feat: strapi setup for religious vocations (#341)
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

fix: resolve review comments
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/enums/term-number.ts
  astro-frontend/src/helpers/term-utils.ts
  astro-frontend/src/models/ex-vice-president-and-secretary.ts
  strapi-backend/src/components/shared/terms.json
  strapi-backend/types/generated/components.d.ts
Due: prettier --write, eslint --fix

Strapi/ex vp secretaries (#348)
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/enums/ex-office-bearers-role.ts
  astro-frontend/src/enums/term-number.ts
  astro-frontend/src/helpers/term-utils.ts
  astro-frontend/src/models/ex-vice-president-and-secretary.ts
  astro-frontend/src/services/list-ex-vice-presidents-and-secretaries-data.ts
  strapi-backend/src/api/ex-vice-president-and-secretary/content-types/ex-vice-president-and-secretary/schema.json
  strapi-backend/src/api/ex-vice-president-and-secretary/controllers/ex-vice-president-and-secretary.ts
  strapi-backend/src/api/ex-vice-president-and-secretary/routes/ex-vice-president-and-secretary.ts
  strapi-backend/src/api/ex-vice-president-and-secretary/services/ex-vice-president-and-secretary.ts
  strapi-backend/src/components/shared/terms.json
  strapi-backend/types/generated/components.d.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Removed hardcoded priests and nuns and fixed ogImageUrl
  astro-frontend/src/constants/religious-vocations.ts
  astro-frontend/src/pages/kok/religious-vocations.astro
  astro-frontend/src/pages/religious-vocations.astro
  astro-frontend/src/services/religious-vocations/get-religious-vocations.ts
Due: prettier --write, eslint --fix

chore: add religious priests assets
  astro-frontend/src/assets/religious-priests/fr-pius-pinto.jpg
Due: none

fix: reduce vertical gap between cards and change color of konkani text in religious vocations
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-finance-committee/parish-finance-committee-list.astro
  astro-frontend/src/components/sections/parish-priests-and-deacons/parish-priests-and-deacons-list.astro
  astro-frontend/src/components/sections/religious-nuns/religious-nuns-list.astro
  astro-frontend/src/components/sections/religious-priests/religious-priests-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/pages/ex-vp-secretaries.astro
  astro-frontend/src/pages/kok/ex-vp-secretaries.astro
  astro-frontend/src/pages/kok/religious-vocations.astro
  astro-frontend/src/pages/religious-vocations.astro
Due: prettier --write

fix: use nav link title for og title in ex vp secretaries page
  astro-frontend/src/assets/secretaries/agnes-rodrigues.jpeg
  astro-frontend/src/assets/secretaries/alex-dsouza.jpeg
  astro-frontend/src/assets/secretaries/benedict-peris.jpeg
  astro-frontend/src/assets/secretaries/jerald-lobo.jpeg
  astro-frontend/src/assets/secretaries/jerald-rasquniha.jpeg
  astro-frontend/src/assets/secretaries/johnson-lobo.jpg
  astro-frontend/src/assets/secretaries/lilly-mathias.jpeg
  astro-frontend/src/assets/secretaries/mr-praveen-lobo.jpg
  astro-frontend/src/assets/secretaries/oswald-peris.jpeg
  astro-frontend/src/assets/secretaries/richard-fernandes.jpeg
  astro-frontend/src/assets/secretaries/sr-jacintha.jpeg
  astro-frontend/src/assets/secretaries/wilfred-pinto.jpeg
  astro-frontend/src/assets/vice-presidents/alex-lobo.jpeg
  astro-frontend/src/assets/vice-presidents/baptist-rasquinha.jpeg
  astro-frontend/src/assets/vice-presidents/delcy-rodrigues.jpg
  astro-frontend/src/assets/vice-presidents/elias-rodrigues.jpeg
  astro-frontend/src/assets/vice-presidents/george-pinto.jpeg
  astro-frontend/src/assets/vice-presidents/hilary-pinto.jpeg
  astro-frontend/src/assets/vice-presidents/jerald-rasquinha.jpeg
  astro-frontend/src/assets/vice-presidents/johnson-lobo.jpg
  astro-frontend/src/assets/vice-presidents/richard-fernandes.jpg
  astro-frontend/src/assets/vice-presidents/richard-lobo.jpeg
  astro-frontend/src/assets/vice-presidents/richard-rodrigues.jpeg
  astro-frontend/src/assets/vice-presidents/romans-lobo.jpg
  astro-frontend/src/assets/vice-presidents/rosario-mendonca.jpeg
  astro-frontend/src/assets/vice-presidents/trindad-pinto.jpeg
  astro-frontend/src/assets/vice-presidents/wilfred-pinto.jpeg
  astro-frontend/src/constants/ex-vp-secretaries.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/ex-vp-secretaries.astro
  astro-frontend/src/pages/kok/ex-vp-secretaries.astro
Due: prettier --write, eslint --fix

chore: remove the subtitle from obituary page
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write, eslint --fix

feat: strapi setup for ex vice presidents and secretaries
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/enums/ex-office-bearers-role.ts
  astro-frontend/src/enums/term-number.ts
  astro-frontend/src/helpers/term-utils.ts
  astro-frontend/src/models/ex-vice-president-and-secretary.ts
  astro-frontend/src/services/list-ex-vice-presidents-and-secretaries-data.ts
  strapi-backend/src/api/ex-vice-president-and-secretary/content-types/ex-vice-president-and-secretary/schema.json
  strapi-backend/src/api/ex-vice-president-and-secretary/controllers/ex-vice-president-and-secretary.ts
  strapi-backend/src/api/ex-vice-president-and-secretary/routes/ex-vice-president-and-secretary.ts
  strapi-backend/src/api/ex-vice-president-and-secretary/services/ex-vice-president-and-secretary.ts
  strapi-backend/src/components/shared/terms.json
  strapi-backend/types/generated/components.d.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: increase gap between cards
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-finance-committee/parish-finance-committee-list.astro
  astro-frontend/src/components/sections/parish-priests-and-deacons/parish-priests-and-deacons-list.astro
  astro-frontend/src/components/sections/religious-nuns/religious-nuns-list.astro
  astro-frontend/src/components/sections/religious-priests/religious-priests-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
Due: prettier --write

fix: increase gap between cards
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-finance-committee/parish-finance-committee-list.astro
  astro-frontend/src/components/sections/parish-priests-and-deacons/parish-priests-and-deacons-list.astro
  astro-frontend/src/components/sections/religious-nuns/religious-nuns-list.astro
  astro-frontend/src/components/sections/religious-priests/religious-priests-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write, eslint --fix

fix: remove subtitle from ward and obituary page
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/obituary/ward/[ward].astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/obituary/ward/[ward].astro
Due: prettier --write

fix: add gap between obituary heading and card
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
Due: prettier --write

fix: replace optional fields with explicit null types in models
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/ui/ShareLink.tsx
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/helpers/get-funeral-details.ts
  astro-frontend/src/helpers/get-funeral-prayer.ts
  astro-frontend/src/helpers/get-gurkar-title.ts
  astro-frontend/src/helpers/get-ward-names-kok.ts
  astro-frontend/src/helpers/is-rich-text-empty.ts
  astro-frontend/src/models/association.ts
  astro-frontend/src/models/event.ts
  astro-frontend/src/models/ex-vice-president-and-secretary.ts
  astro-frontend/src/models/gallery-image.ts
  astro-frontend/src/models/landing-page-carousel.ts
  astro-frontend/src/models/obituary.ts
  astro-frontend/src/models/parish-priest-message.ts
  astro-frontend/src/models/parishioners-achievement.ts
  astro-frontend/src/models/pompeichem-falkem.ts
  astro-frontend/src/models/popes-intention.ts
  astro-frontend/src/models/prayer-for-the-year.ts
  astro-frontend/src/models/religious-vocation.ts
  astro-frontend/src/models/upcoming-event.ts
  astro-frontend/src/models/ward-details.ts
  astro-frontend/src/pages/kok/wards.astro
  astro-frontend/src/pages/wards.astro
Due: prettier --write, eslint --fix

fix: change sort order from descending to ascending
  astro-frontend/src/components/vpsec-card.astro
Due: prettier --write

added emails
  astro-frontend/src/constants/index.ts
  strapi-backend/src/constants/index.ts
Due: prettier --write, eslint --fix

feat: add emails (#359)
  astro-frontend/src/constants/index.ts
  strapi-backend/src/constants/index.ts
Due: prettier --write, eslint --fix
