Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: upgrade node astro strapi (#360)
  astro-frontend/.npmrc
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/astro.config.mjs
  astro-frontend/bun.lockb
  astro-frontend/package.json
  astro-frontend/src/scripts/service-worker.ts
  strapi-backend/.nvmrc
  strapi-backend/Dockerfile
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: scroll down automatically to the event searched (#361)
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/constants/index.ts
  astro-frontend/src/helpers/get-event-list-page-url.ts
  astro-frontend/src/pages/api/events/find-page.ts
  astro-frontend/src/services/events/list-events.ts
Due: prettier --write, eslint --fix

hotfix: be build
  strapi-backend/Dockerfile
Due: none

fix: network image
  astro-frontend/src/components/ui/network-image.astro
Due: prettier --write

feat: achievements notifications and emails
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/helpers/get-gurkar-title.ts
  astro-frontend/src/pages/404.astro
  astro-frontend/src/pages/api/events/find-page.ts
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements.astro
  strapi-backend/src/api/parishioners-achievement/content-types/parishioners-achievement/lifecycles.ts
Due: prettier --write, eslint --fix

feat: enhance pagination component with page jump functionality (#363)
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/helpers/get-pagination-range.ts
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

fix: astro upgrade immage discrepancy
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/pastoral-council-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-finance-committee/parish-finance-committee-list.astro
  astro-frontend/src/components/sections/parish-priests-and-deacons/parish-priests-and-deacons-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/pages/404.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/ex-vp-secretaries.astro
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/kok/ex-vp-secretaries.astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/parish-priests-and-deacons.astro
Due: prettier --write, eslint --fix

feat: add slug support for Pompeichem Falkem magazines and update related components
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/helpers/magazine.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/pompeichem-falkem.ts
  astro-frontend/src/pages/kok/pompeichem-falkem/[slug].astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
  astro-frontend/src/services/list-magazines.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/lifecycles.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/schema.json
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/slug.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

test: network image
  astro-frontend/src/components/ui/network-image.astro
Due: prettier --write

fix: astro upgrade image discrepancy
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/administrators/administrators-list.astro
  astro-frontend/src/components/sections/ex-secretaries/ex-secretaries-list.astro
  astro-frontend/src/components/sections/ex-vicepresidents/ex-vp-list.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/pastoral-council-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-finance-committee/parish-finance-committee-list.astro
  astro-frontend/src/components/sections/parish-priests-and-deacons/parish-priests-and-deacons-list.astro
  astro-frontend/src/components/sections/treasurers/treasurers-list.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/pages/404.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/ex-vp-secretaries.astro
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/kok/ex-vp-secretaries.astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/parish-priests-and-deacons.astro
Due: prettier --write, eslint --fix

fix: properly calculate event search pagination beyond 100 items
  astro-frontend/src/pages/api/events/find-page.ts
Due: prettier --write, eslint --fix

feat: add holy spirit prayer
  astro-frontend/src/assets/static-assets/holy-spirit-prayer.jpg
  astro-frontend/src/components/sections/prayer-corner/novena.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/pages/prayer-corner.astro
Due: prettier --write, eslint --fix

refactor: simplify slug assignment and cleanup unused code
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/lifecycles.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/slug.ts
Due: prettier --write, eslint --fix

chore: upgrade node and astro versions to LTS
  astro-frontend/.npmrc
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/bun.lockb
  astro-frontend/package.json
  strapi-backend/.nvmrc
  strapi-backend/Dockerfile
  strapi-backend/package.json
Due: prettier --write

feat: set first achievement image as OG image per page
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements.astro
Due: prettier --write

fix: update OG image URL for Parishioners Achievements
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements.astro
Due: prettier --write

refactor: pompeichem falkem
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/helpers/magazine.ts
  astro-frontend/src/models/pompeichem-falkem.ts
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/kok/pompeichem-falkem/[slug].astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/lifecycles.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/schema.json
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/slug.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

refactor: code improvements
  astro-frontend/src/helpers/magazine.ts
  astro-frontend/src/i18n/utils.ts
  astro-frontend/src/models/pompeichem-falkem.ts
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/kok/pompeichem-falkem/[slug].astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
  astro-frontend/src/services/list-magazines.ts
Due: prettier --write, eslint --fix

fix: slug field in strapi and og image issue (#369)
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/components/ui/network-image.astro
  astro-frontend/src/helpers/magazine.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/i18n/utils.ts
  astro-frontend/src/models/pompeichem-falkem.ts
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/kok/pompeichem-falkem/[slug].astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
  astro-frontend/src/services/list-magazines.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/lifecycles.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: use blank profile image as OG image fallback
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements.astro
Due: prettier --write

fix: set og image for achievements page (#371)
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements.astro
Due: prettier --write

chore(deps): upgrade node, astro, strapi deps
  astro-frontend/.npmrc
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/bun.lockb
  astro-frontend/package.json
  strapi-backend/.nvmrc
  strapi-backend/Dockerfile
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write

feat: conditionally hide search bars and subtitles when content is empty
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/parishioners-achievements.astro
Due: prettier --write

feat: conditionally hide search bars and subtitles when content is empty (#372)
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/parishioners-achievements.astro
Due: prettier --write

Make phone number and email clickable on contact page
  astro-frontend/src/components/sections/contact/contact-info.astro
Due: prettier --write

Feat: clickable contact links (#373)
  astro-frontend/src/components/sections/contact/contact-info.astro
Due: prettier --write

Update email address
  strapi-backend/src/constants/index.ts
Due: prettier --write, eslint --fix

feat: remove Holy Spirit prayer
  astro-frontend/src/components/sections/prayer-corner/novena.astro
Due: prettier --write

feat: remove Holy Spirit prayer (#375)
  astro-frontend/src/components/sections/prayer-corner/novena.astro
Due: prettier --write

fix: update email (#374)
  strapi-backend/src/constants/index.ts
Due: prettier --write, eslint --fix

chore: upgrade dependencies
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/bun.lockb
  astro-frontend/package.json
  strapi-backend/.nvmrc
  strapi-backend/Dockerfile
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
  strapi-backend/types/generated/components.d.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: add Monthi Fest celebration feature
  astro-frontend/src/assets/static-assets/virgin-mary.jpeg
  astro-frontend/src/components/MonthiFestPetals.tsx
  astro-frontend/src/components/SeasonalPopup.tsx
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/helpers/is-monthi-fest.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

Refactor petals animation components
  astro-frontend/src/components/EasterPetals.tsx
  astro-frontend/src/components/FestivePetals.tsx
  astro-frontend/src/components/MonthiFestPetals.tsx
  astro-frontend/src/components/SeasonalPopup.tsx
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

fix: wrap StrapiBlocksRenderer in a div for better link handling
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
Due: prettier --write

fix: update Monthi Fest titles and remove unused props and code
  astro-frontend/src/components/FestivePetals.tsx
  astro-frontend/src/components/SeasonalPopup.tsx
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,astro,json,md,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
