Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,jsx,tsx,astro,json,md,yml}": ["prettier --write"],
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

feat: improve hero image for web
  astro-frontend/src/assets/landing-page/church-improved.png
  astro-frontend/src/components/sections/landing-page/hero-section.astro
Due: prettier --write

feat: new language switcher
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/ui/LanguageSwitcher.tsx
Due: prettier --write, eslint --fix

feat: improve mass timings section
  astro-frontend/src/assets/landing-page/mass-timings.jpg
  astro-frontend/src/components/sections/landing-page/mass-timings-section.astro
  astro-frontend/src/components/ui/LanguageSwitcher.tsx
Due: prettier --write, eslint --fix

feat: welcome new footer
  astro-frontend/src/assets/react-icons/instagram.svg
  astro-frontend/src/assets/react-icons/phone.svg
  astro-frontend/src/components/Footer.tsx
  astro-frontend/src/layouts/layout.astro
Due: prettier --write, eslint --fix

feat: add improved prototype images for readme
  astro-frontend/public/prototype-kok.png
  astro-frontend/public/prototype.png
Due: none

Enhance carousel with scale effect
  astro-frontend/src/components/ui/embla-carousel-item.astro
  astro-frontend/src/components/ui/embla-carousel.astro
  astro-frontend/src/scripts/embla-carousel.ts
Due: prettier --write, eslint --fix

Enhance carousel with scale effect
  astro-frontend/src/components/Footer.tsx
  astro-frontend/src/components/ui/embla-carousel-item.astro
  astro-frontend/src/components/ui/embla-carousel.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/scripts/embla-carousel.ts
Due: prettier --write, eslint --fix

Revert "feat: welcome new footer"
  astro-frontend/src/assets/react-icons/instagram.svg
  astro-frontend/src/assets/react-icons/phone.svg
  astro-frontend/src/components/Footer.tsx
  astro-frontend/src/layouts/layout.astro
Due: prettier --write, eslint --fix

Revert "Enhance carousel with scale effect"
  astro-frontend/src/components/ui/embla-carousel-item.astro
  astro-frontend/src/components/ui/embla-carousel.astro
  astro-frontend/src/scripts/embla-carousel.ts
Due: prettier --write, eslint --fix

feat: Homepage carousel with enhanced interactivity
  astro-frontend/package-lock.json
  astro-frontend/package.json
  astro-frontend/src/components/sections/landing-page/homepage-carousel-section.astro
  astro-frontend/src/components/ui/HomepageCarousel.tsx
  astro-frontend/src/pages/index.astro
Due: prettier --write, eslint --fix

fix: carousel shadow
  astro-frontend/pnpm-lock.yaml
  astro-frontend/src/components/sections/landing-page/homepage-carousel-section.astro
  astro-frontend/src/components/ui/HomepageCarousel.tsx
Due: prettier --write, eslint --fix

fix: carousel slide
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/homepage-carousel-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/ui/HomepageCarousel.tsx
Due: prettier --write, eslint --fix

Feat/Anniversary
  astro-frontend/bun.lock
  astro-frontend/package.json
  astro-frontend/src/components/anniversary.tsx
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/i18n/ui.ts
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: slider width
  astro-frontend/bun.lock
  astro-frontend/src/components/ui/HomepageCarousel.tsx
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

Feat/carousel scale (#279)
  astro-frontend/bun.lock
  astro-frontend/package-lock.json
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/homepage-carousel-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/ui/HomepageCarousel.tsx
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
Due: prettier --write, eslint --fix

Feat: Improved Carousel
  astro-frontend/bun.lock
  astro-frontend/package-lock.json
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/homepage-carousel-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/ui/HomepageCarousel.tsx
  astro-frontend/src/components/ui/embla-carousel-item.astro
  astro-frontend/src/components/ui/embla-carousel.astro
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
  astro-frontend/src/scripts/embla-carousel.ts
Due: prettier --write, eslint --fix

feat: Enhance carousel with wheel gestures and shadow styling, lg border
  astro-frontend/src/components/ui/HomepageCarousel.tsx
Due: prettier --write, eslint --fix

fix: slider overflow
  astro-frontend/src/components/ui/HomepageCarousel.tsx
  astro-frontend/src/components/ui/embla-carousel-item.astro
Due: prettier --write, eslint --fix

fix:events rendering order and ui(#274)
  astro-frontend/public/favicon.ico
  astro-frontend/public/prototype-kok.png
  astro-frontend/public/prototype.png
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/landing-page/about-church-section.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/constants/popes-intention-kok.ts
  astro-frontend/src/helpers/get-events-by-newest.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
  strapi-backend/favicon.png
Due: prettier --write, eslint --fix

chore: final touchup
  astro-frontend/src/components/sections/landing-page/mass-timings-section.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/ui/HomepageCarousel.tsx
  astro-frontend/src/components/ui/embla-carousel-item.astro
  astro-frontend/src/components/ui/embla-carousel.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
  astro-frontend/src/scripts/embla-carousel.ts
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

chore: final touchup
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/landing-page/landing-carousel.astro
  astro-frontend/src/components/sections/landing-page/mass-timings-section.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/parish-pastoral-21-commissions/commission-card.astro
  astro-frontend/src/components/ui/HomepageCarousel.tsx
  astro-frontend/src/components/ui/ShareLink.tsx
  astro-frontend/src/components/ui/embla-carousel-item.astro
  astro-frontend/src/components/ui/embla-carousel.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/index.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
  astro-frontend/src/scripts/embla-carousel.ts
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

chore: improvements
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write

feat: the final commit (ig)
  astro-frontend/src/components/anniversary.tsx
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

fix(upcoming-event): Set eventEndDate to 23:59 to last all day
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/models/upcoming-event.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
  astro-frontend/src/services/list-upcoming-events.ts
  strapi-backend/config/cron-tasks.ts
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

chore: formatting
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/homepage-carousel-section.astro
  astro-frontend/src/components/sections/landing-page/mass-timings-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/ui/embla-carousel-item.astro
  astro-frontend/src/components/ui/embla-dots.astro
  astro-frontend/src/helpers/get-events-by-newest.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/scripts/embla-carousel.ts
Due: prettier --write, eslint --fix

fix(upcoming-event): set event time to 23:59 IST using UTC conversion
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

fix: remove redundant conversion of utc time and add readable time in mail
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

fix: remove redundant conversion of utc time and add readable time in mail (#283)
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

Made a small ui fix
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write

fix(upcoming-events): remove hover shadow on images
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
Due: prettier --write

X
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write

fix: corrected div nesting and added margin wherever needed
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write

fix: resolve UI issues in patron page and upcoming events
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write

fix: Remove hover shadown effect on upcoming images
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
Due: prettier --write

Removed the celebrate component
  astro-frontend/src/components/anniversary.tsx
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Removed the stray imports of the celebration component
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
Due: prettier --write

fix- Removed unnecessary packages
  astro-frontend/package.json
Due: prettier --write

chore: format the code
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write
