Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,jsx,tsx,astro,json,md,yml}": ["prettier --write"],
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

fix: pagination in events and obituaries
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write

feat: add strapi support for pompeichem falkem
  astro-frontend/.prettierrc
  astro-frontend/src/assets/pompeichem-falkem/centenary-souvenir.jpg
  astro-frontend/src/assets/pompeichem-falkem/pf-december-2024.jpeg
  astro-frontend/src/assets/pompeichem-falkem/pf-march-2024.jpg
  astro-frontend/src/assets/pompeichem-falkem/pf-september-2024.jpg
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/constants/pompeichem-falkem.ts
  astro-frontend/src/models/events.ts
  astro-frontend/src/models/pompeichem-falkem.ts
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/services/pompeichem-falkem/list-magazines.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/schema.json
  strapi-backend/src/api/pompeichem-falkem/controllers/pompeichem-falkem.ts
  strapi-backend/src/api/pompeichem-falkem/routes/pompeichem-falkem.ts
  strapi-backend/src/api/pompeichem-falkem/services/pompeichem-falkem.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: remove space
  astro-frontend/Dockerfile
Due: none

fix: migrate from nixpacks to docker
  astro-frontend/.dockerignore
  astro-frontend/.env.example
  astro-frontend/Dockerfile
  astro-frontend/nixpacks.toml
  astro-frontend/package.json
  astro-frontend/src/assets/upcoming-events/womens-day-1.jpg
  astro-frontend/src/constants/events.ts
  astro-frontend/src/constants/upcoming-events.ts
Due: prettier --write, eslint --fix

feat: update Dockerfile to pick the damn env
  astro-frontend/Dockerfile
Due: none

chore: remove unwanted strapi functions
  astro-frontend/src/services/landing-page-carousel-image.ts
  astro-frontend/src/services/landing-page-parish-pastrol.ts
  astro-frontend/src/services/landing-page-parish-priest-message.ts
Due: prettier --write, eslint --fix

feat: test env in prod
  astro-frontend/src/helpers/strapi-fetch.ts
Due: prettier --write, eslint --fix

feat: add date fns
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
Due: prettier --write

feat: thinking out of the box
  astro-frontend/src/helpers/strapi-fetch.ts
Due: prettier --write, eslint --fix

chore: avoid search engines from seeing strapi reference
  astro-frontend/Dockerfile
  astro-frontend/src/helpers/strapi-fetch.ts
  strapi-backend/public/robots.txt
Due: prettier --write, eslint --fix

fix: query params and good night
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/services/events/get-event.ts
Due: prettier --write, eslint --fix

feat: switch adapters dynamically
  astro-frontend/Dockerfile
  astro-frontend/astro.config.mjs
  astro-frontend/src/env.d.ts
Due: prettier --write, eslint --fix

fix: obituary ui in mobile
  astro-frontend/package.json
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/constants/events.ts
  astro-frontend/src/constants/obituary-list.ts
Due: prettier --write, eslint --fix

feat: strapi integration for pompeichem falkem
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/models/pompeichem-falkem.ts
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/services/pompeichem-falkem/list-magazines.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/schema.json
  strapi-backend/src/api/pompeichem-falkem/controllers/pompeichem-falkem.ts
  strapi-backend/src/api/pompeichem-falkem/routes/pompeichem-falkem.ts
  strapi-backend/src/api/pompeichem-falkem/services/pompeichem-falkem.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: replace strapi favicon
  astro-frontend/src/assets/pompeichem-falkem/centenary-souvenir.jpg
  astro-frontend/src/assets/pompeichem-falkem/pf-december-2024.jpeg
  astro-frontend/src/assets/pompeichem-falkem/pf-march-2024.jpg
  astro-frontend/src/assets/pompeichem-falkem/pf-september-2024.jpg
  astro-frontend/src/constants/pompeichem-falkem.ts
Due: prettier --write, eslint --fix

fix: add pageSize and remove ui for links
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  strapi-backend/types/generated/components.d.ts
Due: prettier --write, eslint --fix

fix: change strapi favicon
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/services/obituaries/list-obituaries.ts
  strapi-backend/favicon.png
Due: prettier --write, eslint --fix

fix: pagination at its best
  astro-frontend/src/assets/upcoming-events/cartoonia.jpg
  astro-frontend/src/assets/upcoming-events/pcl-poster-1.jpg
  astro-frontend/src/assets/upcoming-events/pcl-poster-2.jpg
  astro-frontend/src/assets/upcoming-events/pcl.jpg
  astro-frontend/src/assets/upcoming-events/pyc-annual-day-1.jpeg
  astro-frontend/src/assets/upcoming-events/pyc-annual-day-2.jpeg
  astro-frontend/src/assets/upcoming-events/pyc-annual-day-3.jpg
  astro-frontend/src/assets/upcoming-events/pyc-annual-day-4.jpg
  astro-frontend/src/assets/upcoming-events/stay-tuned-kok.png
  astro-frontend/src/assets/upcoming-events/stay-tuned.png
  astro-frontend/src/assets/upcoming-events/womens-day-1.jpg
  astro-frontend/src/assets/upcoming-events/womens-day.jpg
  astro-frontend/src/assets/upcoming-events/word-of-god-sunday.jpg
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/landing-carousel.astro
  astro-frontend/src/components/sections/landing-page/social-grid.astro
  astro-frontend/src/components/sections/prayer-corner/popes-intention.astro
  astro-frontend/src/constants/lorem-ipsum.ts
  astro-frontend/src/constants/parish-priests.ts
  astro-frontend/src/constants/popes-intention-kok.ts
  astro-frontend/src/constants/popes-intention.ts
  astro-frontend/src/constants/religious-vocations.ts
  astro-frontend/src/constants/upcoming-events.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/services/events/list-events.ts
Due: prettier --write, eslint --fix

hotfix: build issue
  astro-frontend/src/components/sections/prayer-corner/popes-intention.astro
Due: prettier --write

fix: build issue
  astro-frontend/src/assets/static-assets/stay-tuned-kok.png
  astro-frontend/src/assets/static-assets/stay-tuned.png
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
Due: prettier --write

fix: change ui for links
  astro-frontend/src/assets/icons/lang-arrow.svg
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/events.astro
Due: prettier --write, eslint --fix

refactor: improve link UI styles
  astro-frontend/src/assets/icons/chevron-down.svg
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
Due: prettier --write, eslint --fix

fix: konkani pompeichem falkem
  astro-frontend/src/assets/icons/chevron-down.svg
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
Due: prettier --write, eslint --fix

feat(strapi): parish priest speaks section
  astro-frontend/src/assets/landing-page/pp1.png
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/constants/parish-priest-message.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/event.ts
  astro-frontend/src/models/obituary.ts
  astro-frontend/src/models/parish-priest-message.ts
  astro-frontend/src/models/upcoming-event.ts
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/services/get-parish-priest-message.ts
  astro-frontend/src/services/list-magazines.ts
  astro-frontend/src/services/list-upcoming-events.ts
  strapi-backend/src/api/parish-priest-message/content-types/parish-priest-message/schema.json
  strapi-backend/src/api/parish-priest-message/controllers/parish-priest-message.ts
  strapi-backend/src/api/parish-priest-message/routes/parish-priest-message.ts
  strapi-backend/src/api/parish-priest-message/services/parish-priest-message.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat(strapi): parish priest speaks section
  astro-frontend/src/components/pastoral-council-card.astro
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/landing-page/social-grid.astro
  astro-frontend/src/components/ui/network-image.astro
  astro-frontend/src/services/events/get-event.ts
  astro-frontend/src/services/events/list-events.ts
  astro-frontend/src/services/list-upcoming-events.ts
  astro-frontend/src/services/obituaries/get-obituary.ts
  astro-frontend/src/services/obituaries/list-obituaries.ts
Due: prettier --write, eslint --fix

feat: add CONTRIBUTORS.md file
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTORS.md
  .github/SECURITY.md
Due: prettier --write

feat: max visibility
  CODE_OF_CONDUCT.md
  CONTRIBUTORS.md
  SECURITY.md
Due: prettier --write

feat: update README.md
  README.md
Due: prettier --write

feat: add strapi for pastoral council
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/models/parish-pastoral-council-image.ts
  astro-frontend/src/models/parish-pastoral-council.ts
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/services/parish-pastoral-council/get-parish-pastoral-council-image.ts
  astro-frontend/src/services/parish-pastoral-council/list-parish-pastoral-council-data.ts
Due: prettier --write, eslint --fix

feat: add strapi for pastoral council
  strapi-backend/src/api/parish-pastoral-council-image/content-types/parish-pastoral-council-image/schema.json
  strapi-backend/src/api/parish-pastoral-council-image/controllers/parish-pastoral-council-image.ts
  strapi-backend/src/api/parish-pastoral-council-image/routes/parish-pastoral-council-image.ts
  strapi-backend/src/api/parish-pastoral-council-image/services/parish-pastoral-council-image.ts
  strapi-backend/src/api/parish-pastoral-council/content-types/parish-pastoral-council/schema.json
  strapi-backend/src/api/parish-pastoral-council/controllers/parish-pastoral-council.ts
  strapi-backend/src/api/parish-pastoral-council/routes/parish-pastoral-council.ts
  strapi-backend/src/api/parish-pastoral-council/services/parish-pastoral-council.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: add optional chaining
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
Due: prettier --write

fix: pagination for entries more than 25
  astro-frontend/src/models/parish-pastoral-council.ts
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/services/parish-pastoral-council/list-parish-pastoral-council-data.ts
Due: prettier --write, eslint --fix

feat: make history carousel clickable
  astro-frontend/src/components/sections/parish-history/parish-details.astro
Due: prettier --write

feat: add CONTRIBUTING.md file
  CONTRIBUTING.md
Due: prettier --write

feat: add issue template, feature request and bump packages to LTS
  .github/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE.md
  astro-frontend/.env.example
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
  strapi-backend/.env.example
Due: prettier --write

feat: update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write
