Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: update border styles for sections and fix spelling mistakes (#268)
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write

Chore: Automate Obituary (#277)
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/obituary-card.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/prayer-corner/popes-intention.astro
  astro-frontend/src/components/ui/FuneralInfoButton.tsx
  astro-frontend/src/helpers/get-funeral-details.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/obituary.ts
  astro-frontend/src/pages/contact.astro
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/kok/contact.astro
  astro-frontend/src/pages/kok/gallery.astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/parish-priests-and-deacons.astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-priests-and-deacons.astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/patron-of-our-parish.astro
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: rename funeral details field names in code (#275)
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/models/obituary.ts
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
Due: prettier --write, eslint --fix

chore: update FE and BE deps to latest versions (#270)
  astro-frontend/bun.lock
  astro-frontend/package.json
  pnpm-lock.yaml
  strapi-backend/bun.lock
  strapi-backend/bun.lockb
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write

fix:events rendering order and ui(#274)
  astro-frontend/public/favicon.ico
  astro-frontend/public/prototype-kok.png
  astro-frontend/public/prototype.png
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/profile-card.astro
  astro-frontend/src/components/sections/landing-page/about-church-section.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/constants/popes-intention-kok.ts
  astro-frontend/src/helpers/get-events-by-newest.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
  strapi-backend/favicon.png
Due: prettier --write, eslint --fix

chore: upgrade Node to LTS and Strapi to latest with React downgraded for compatibility and proxy hotfix removed (#276)
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  strapi-backend/.nvmrc
  strapi-backend/Dockerfile
  strapi-backend/config/server.ts
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write, eslint --fix

Fix: upgrade the nvmrc to lts and change the word the in strapi obituary section (#272)
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  strapi-backend/.nvmrc
  strapi-backend/Dockerfile
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

chore: update prototype images
  astro-frontend/public/prototype-kok.png
  astro-frontend/public/prototype.png
Due: none

fix: upcoming event timezone and date improvements
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/models/upcoming-event.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
  astro-frontend/src/services/list-upcoming-events.ts
  strapi-backend/config/cron-tasks.ts
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: patron page ui
  astro-frontend/package.json
  astro-frontend/src/components/anniversary.tsx
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write, eslint --fix

chore: add the english version of the novena (#289)
  astro-frontend/.npmrc
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/package.json
  astro-frontend/src/components/sections/prayer-corner/novena.astro
  astro-frontend/src/constants/novena.ts
  strapi-backend/Dockerfile
  strapi-backend/package.json
Due: prettier --write, eslint --fix

chore: remove pnpm-lock.yaml and add new contributor
  CONTRIBUTORS.md
  astro-frontend/pnpm-lock.yaml
Due: prettier --write

chore: remove Jubilee section
  astro-frontend/src/assets/prayer-corner/jubliee-logo.jpeg
  astro-frontend/src/assets/prayer-corner/jubliee-prayer.jpeg
  astro-frontend/src/components/sections/prayer-corner/jubilee-year.astro
  astro-frontend/src/pages/kok/prayer-corner.astro
  astro-frontend/src/pages/prayer-corner.astro
Due: prettier --write

chore: update README.md
  README.md
Due: prettier --write

chore: add Fr. Gracian's details and change rendering of date in (#292)
  astro-frontend/src/constants/parish-history.ts
  strapi-backend/package.json
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

feat: add Konkani translations to footer
  astro-frontend/astro.config.mjs
  astro-frontend/src/components/footer.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

fix: change top padding of the gallery images and remove subtitle (#294)
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/kok/gallery.astro
Due: prettier --write, eslint --fix

fix(upcoming-event): Set eventEndDate to 23:59 to last all day
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
Due: prettier --write

fix: remove redundant conversion of utc time and add readable time in mail (#283)
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
Due: prettier --write

Revert "feat: add Konkani translations to footer "
  astro-frontend/astro.config.mjs
  astro-frontend/src/components/footer.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Add Konkani translations to footer
  astro-frontend/src/components/footer.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Update Konkani font in footer
  astro-frontend/src/components/footer.astro
Due: prettier --write

fix: require eventDate and eventImage in upcoming events schema
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: footer localization
  astro-frontend/astro.config.mjs
  astro-frontend/bun.lockb
  astro-frontend/src/assets/prayer-corner/jubliee-logo.jpeg
  astro-frontend/src/assets/prayer-corner/jubliee-prayer.jpeg
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/components/sections/prayer-corner/jubilee-year.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/kok/gallery.astro
  astro-frontend/src/pages/kok/prayer-corner.astro
  astro-frontend/src/pages/prayer-corner.astro
Due: prettier --write, eslint --fix

Added missing dependency
  astro-frontend/bun.lock
  astro-frontend/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,astro,json,md,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
