Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: update feature request template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

feat: remove outdated feature request and issue templates
  .github/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE.md
Due: prettier --write

fix: prev and next kok events and enhance nav link UI for web
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/helpers/get-placeholder-image.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/layouts/layout.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
Due: prettier --write, eslint --fix

feat: add fallback for council list
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
Due: prettier --write

feat: add static fallback messages
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
Due: prettier --write, eslint --fix

fix: remove switcher hover in mobile and conditional show more events
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
Due: prettier --write

fix: show more button and introduce locale enum
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/normal-card.astro
  astro-frontend/src/components/obituary-card.astro
  astro-frontend/src/components/pastoral-council-card.astro
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/landing-page/about-church-section.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/mass-timings-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/landing-page/pastoral-council-section.astro
  astro-frontend/src/components/sections/landing-page/social-grid.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/parish-history/parish-details.astro
  astro-frontend/src/components/sections/parish-pastoral-21-commissions/pastoral-commission.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/prayer-corner/jubilee-year.astro
  astro-frontend/src/components/sections/prayer-corner/novena.astro
  astro-frontend/src/components/sections/prayer-corner/popes-intention.astro
  astro-frontend/src/components/sections/prayer-corner/prayer-card.astro
  astro-frontend/src/components/sections/prayer-corner/psalms.astro
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/components/ui/hoverable-link.astro
  astro-frontend/src/enums/locale.ts
  astro-frontend/src/models/parish-priest-message.ts
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/prayer-corner.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/prayer-corner.astro
  astro-frontend/src/services/get-parish-priest-message.ts
Due: prettier --write, eslint --fix

refactor: combine pastoral council strapi files
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/helpers/get-placeholder-image.ts
  astro-frontend/src/models/parish-pastoral-council-image.ts
  astro-frontend/src/models/parish-pastoral-council.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/services/parish-pastoral-council-data.ts
  astro-frontend/src/services/parish-pastoral-council/get-parish-pastoral-council-image.ts
  astro-frontend/src/services/parish-pastoral-council/list-parish-pastoral-council-data.ts
Due: prettier --write, eslint --fix

feat: add schema for association office bearers
  astro-frontend/src/models/association-bearers.ts
  astro-frontend/src/services/association-bearers-data.ts
  strapi-backend/src/api/association-office-bearer/content-types/association-office-bearer/schema.json
  strapi-backend/src/api/association-office-bearer/controllers/association-office-bearer.ts
  strapi-backend/src/api/association-office-bearer/routes/association-office-bearer.ts
  strapi-backend/src/api/association-office-bearer/services/association-office-bearer.ts
  strapi-backend/src/api/event/content-types/event/schema.json
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: create strapi endpoints and add jsdocs
  astro-frontend/src/components/footer.astro
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/helpers/strapi-fetch.ts
  astro-frontend/src/models/event.ts
  astro-frontend/src/services/events/get-event.ts
  astro-frontend/src/services/events/list-events.ts
  astro-frontend/src/services/get-parish-priest-message.ts
  astro-frontend/src/services/list-magazines.ts
  astro-frontend/src/services/list-upcoming-events.ts
  astro-frontend/src/services/obituaries/get-obituary.ts
  astro-frontend/src/services/obituaries/list-obituaries.ts
Due: prettier --write, eslint --fix

feat: create strapi endpoints and add jsdocs
  astro-frontend/src/constants/strapi-endpoints.ts
Due: prettier --write, eslint --fix

feat: add association slug mappings and improve media type definitions
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/constants/association-slug-mappings.ts
  astro-frontend/src/constants/associations-kok.ts
  astro-frontend/src/helpers/get-association-picture.ts
  astro-frontend/src/helpers/get-placeholder-image.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/association-bearers.ts
  astro-frontend/src/services/association-bearers-data.ts
  strapi-backend/src/api/association-office-bearer/content-types/association-office-bearer/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: final setup for strapi associations
  astro-frontend/src/assets/associations/altar-servers.jpg
  astro-frontend/src/assets/associations/catechism.jpg
  astro-frontend/src/assets/associations/catholic-sabha.jpg
  astro-frontend/src/assets/associations/gurpur-choir.jpg
  astro-frontend/src/assets/associations/icym.jpeg
  astro-frontend/src/assets/associations/moriyal-sodality.jpg
  astro-frontend/src/assets/associations/pyc.jpg
  astro-frontend/src/assets/associations/small-christian-community.jpg
  astro-frontend/src/assets/associations/svp.jpg
  astro-frontend/src/assets/associations/third-order.jpg
  astro-frontend/src/assets/associations/womens-forum.jpg
  astro-frontend/src/assets/associations/ycs.jpg
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/constants/association-slug-mappings.ts
  astro-frontend/src/constants/associations-kok.ts
  astro-frontend/src/constants/associations.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/association-bearers.ts
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  strapi-backend/src/api/association-office-bearer/content-types/association-office-bearer/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: footer
  astro-frontend/src/components/footer.astro
Due: prettier --write

feat: add strapi support for associations
  astro-frontend/src/assets/associations/altar-servers.jpg
  astro-frontend/src/assets/associations/catechism.jpg
  astro-frontend/src/assets/associations/catholic-sabha.jpg
  astro-frontend/src/assets/associations/gurpur-choir.jpg
  astro-frontend/src/assets/associations/icym.jpeg
  astro-frontend/src/assets/associations/moriyal-sodality.jpg
  astro-frontend/src/assets/associations/pyc.jpg
  astro-frontend/src/assets/associations/small-christian-community.jpg
  astro-frontend/src/assets/associations/svp.jpg
  astro-frontend/src/assets/associations/third-order.jpg
  astro-frontend/src/assets/associations/womens-forum.jpg
  astro-frontend/src/assets/associations/ycs.jpg
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/constants/association-slug-mappings.ts
  astro-frontend/src/constants/associations-kok.ts
  astro-frontend/src/constants/associations.ts
  astro-frontend/src/helpers/get-association-picture.ts
  astro-frontend/src/helpers/get-placeholder-image.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/association-bearers.ts
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/services/association-bearers-data.ts
  strapi-backend/src/api/association-office-bearer/content-types/association-office-bearer/schema.json
  strapi-backend/src/api/association-office-bearer/controllers/association-office-bearer.ts
  strapi-backend/src/api/association-office-bearer/routes/association-office-bearer.ts
  strapi-backend/src/api/association-office-bearer/services/association-office-bearer.ts
  strapi-backend/src/api/event/content-types/event/schema.json
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

test: server logs
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/services/association-bearers-data.ts
Due: prettier --write, eslint --fix

Revert "test: server logs"
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/services/association-bearers-data.ts
Due: prettier --write, eslint --fix

fix: remove Promise.all
  astro-frontend/src/components/sections/associations/association-details.astro
Due: prettier --write

fix: no more pre rendering
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
Due: prettier --write

feat: Promise.all is back
  astro-frontend/src/components/sections/associations/association-details.astro
Due: prettier --write

fix: undefined association title
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
Due: prettier --write

feat: initial setup for popes intention from strapi
  astro-frontend/src/components/sections/prayer-corner/popes-intention.astro
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/helpers/strapi-fetch.ts
  astro-frontend/src/models/popes-intention.ts
  astro-frontend/src/services/get-popes-intention.ts
  strapi-backend/src/api/popes-intention/content-types/popes-intention/schema.json
  strapi-backend/src/api/popes-intention/controllers/popes-intention.ts
  strapi-backend/src/api/popes-intention/routes/popes-intention.ts
  strapi-backend/src/api/popes-intention/services/popes-intention.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: use strapi blocks for popes intention
  astro-frontend/src/components/sections/prayer-corner/popes-intention.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
Due: prettier --write, eslint --fix

feat: remove unwanted constants
  astro-frontend/src/constants/popes-intention-kok.ts
  astro-frontend/src/constants/popes-intention.ts
Due: prettier --write, eslint --fix

feat: add strapi support for popes Intention
  astro-frontend/src/components/sections/prayer-corner/popes-intention.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
  astro-frontend/src/constants/popes-intention-kok.ts
  astro-frontend/src/constants/popes-intention.ts
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/helpers/strapi-fetch.ts
  astro-frontend/src/models/popes-intention.ts
  astro-frontend/src/services/get-popes-intention.ts
  strapi-backend/src/api/popes-intention/content-types/popes-intention/schema.json
  strapi-backend/src/api/popes-intention/controllers/popes-intention.ts
  strapi-backend/src/api/popes-intention/routes/popes-intention.ts
  strapi-backend/src/api/popes-intention/services/popes-intention.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: fallback ui for parish priest section
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
Due: prettier --write

fix: add subtitle to popes intention
  astro-frontend/src/components/sections/prayer-corner/popes-intention.astro
  astro-frontend/src/constants/popes-intention-kok.ts
  astro-frontend/src/constants/popes-intention.ts
Due: prettier --write, eslint --fix

fix: column layout fallback ui
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/prayer-corner/popes-intention.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/constants/popes-intention-kok.ts
Due: prettier --write, eslint --fix

refactor: improve data fallback code
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
Due: prettier --write

fix: event card fallback ui
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/models/parish-pastoral-council.ts
  strapi-backend/src/api/parish-priest-message/content-types/parish-priest-message/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fear: strapi for parish pastoral council
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/prayer-corner/popes-intention.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/constants/popes-intention-kok.ts
  astro-frontend/src/models/parish-pastoral-council.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/services/parish-pastoral-council-data.ts
  strapi-backend/src/api/parish-pastoral-council-image/content-types/parish-pastoral-council-image/schema.json
  strapi-backend/src/api/parish-pastoral-council-image/controllers/parish-pastoral-council-image.ts
  strapi-backend/src/api/parish-pastoral-council-image/routes/parish-pastoral-council-image.ts
  strapi-backend/src/api/parish-pastoral-council-image/services/parish-pastoral-council-image.ts
  strapi-backend/src/api/parish-pastoral-council/content-types/parish-pastoral-council/schema.json
  strapi-backend/src/api/parish-pastoral-council/controllers/parish-pastoral-council.ts
  strapi-backend/src/api/parish-pastoral-council/routes/parish-pastoral-council.ts
  strapi-backend/src/api/parish-pastoral-council/services/parish-pastoral-council.ts
  strapi-backend/src/api/parish-priest-message/content-types/parish-priest-message/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: build
  astro-frontend/netlify.toml
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/helpers/strapi-fetch.ts
  astro-frontend/src/models/obituary.ts
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/services/association-bearers-data.ts
  astro-frontend/src/services/events/get-event.ts
  astro-frontend/src/services/events/list-events.ts
  astro-frontend/src/services/get-parish-priest-message.ts
  astro-frontend/src/services/get-popes-intention.ts
  astro-frontend/src/services/list-magazines.ts
  astro-frontend/src/services/list-upcoming-events.ts
  astro-frontend/src/services/obituaries/get-obituary.ts
  astro-frontend/src/services/obituaries/list-obituaries.ts
  astro-frontend/src/services/parish-pastoral-council-data.ts
Due: prettier --write, eslint --fix

feat: overall speed optimization
  astro-frontend/astro.config.mjs
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
Due: prettier --write

fix: remove lightning css
  astro-frontend/astro.config.mjs
Due: none

feat: more optimization
  astro-frontend/astro.config.mjs
  astro-frontend/src/assets/landing-page/sky-bg.jpg
  astro-frontend/src/assets/landing-page/sky-bg.webp
  astro-frontend/src/components/feature-youtube.astro
  astro-frontend/src/components/sections/contact/contact-form.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/social-grid.astro
Due: prettier --write

refactor: remove unused key value pairs
  astro-frontend/src/constants/pastoral-council-members.ts
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

feat: optimizing images from jpg to webp
  astro-frontend/src/assets/landing-page/adoration1.jpg
  astro-frontend/src/assets/landing-page/adoration1.webp
  astro-frontend/src/assets/landing-page/adoration2.jpg
  astro-frontend/src/assets/landing-page/adoration2.webp
  astro-frontend/src/assets/landing-page/church-hero.jpg
  astro-frontend/src/assets/landing-page/church-hero.webp
  astro-frontend/src/assets/landing-page/ciborium.jpg
  astro-frontend/src/assets/landing-page/ciborium.webp
  astro-frontend/src/assets/landing-page/mary-grotto.jpg
  astro-frontend/src/assets/landing-page/mary-grotto.webp
  astro-frontend/src/assets/landing-page/mass-interior.jpg
  astro-frontend/src/assets/landing-page/mass-interior.webp
  astro-frontend/src/components/sections/landing-page/about-church-section.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/components/sections/landing-page/landing-carousel.astro
  astro-frontend/src/components/sections/landing-page/mass-timings-section.astro
Due: prettier --write

feat: preload hero section images to improve LCP scores
  astro-frontend/src/components/sections/landing-page/hero-section.astro
Due: prettier --write

feat: add more accessibility
  astro-frontend/src/components/feature-youtube.astro
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/normal-card.astro
  astro-frontend/src/components/pastoral-council-card.astro
  astro-frontend/src/components/scroll-top.astro
  astro-frontend/src/components/sections/contact/contact-map.astro
  astro-frontend/src/components/sections/landing-page/social-grid.astro
  astro-frontend/src/components/sections/landing-page/youtube-video.astro
  astro-frontend/src/components/sections/prayer-corner/jubilee-year.astro
  astro-frontend/src/components/ui/share-link.astro
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,astro,json,md,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
