Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Update funeral details message formatting
  astro-frontend/src/helpers/get-funeral-details.ts
Due: prettier --write, eslint --fix

Update Christmas message
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

fix: Remove sakali and sanjer from funeral details
  astro-frontend/src/helpers/get-funeral-details.ts
Due: prettier --write, eslint --fix

hotfix: timezone issue for all users worldwide
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/helpers/get-funeral-details.ts
  astro-frontend/src/models/obituary.ts
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
Due: prettier --write, eslint --fix

fix(nav): prevent background scrolling when mobile menu is open (#315)
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/helpers/is-christmas.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/gallery.astro
  astro-frontend/src/pages/kok/index.astro
  astro-frontend/src/scripts/handle-nav.ts
Due: prettier --write, eslint --fix

feat: add new year wishes
  astro-frontend/src/components/ChristmasPopup.tsx
  astro-frontend/src/i18n/ui.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

chore: update funeral details message
  astro-frontend/src/helpers/get-funeral-details.ts
Due: prettier --write, eslint --fix

fix: improve sibling relations naming and enforce slug validation
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/enums/obituary.ts
  astro-frontend/src/helpers/get-funeral-prayer.ts
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

chore: update wishes
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

fix: upcoming event timezone
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
Due: prettier --write

fix: make the shadow of the image more rounded
  astro-frontend/src/components/ui/HomepageCarousel.tsx
Due: prettier --write, eslint --fix

fix: parishad typo
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
Due: prettier --write, eslint --fix

feat: add prayer for the year section
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/prayer-for-the-year.ts
  astro-frontend/src/pages/kok/prayer-corner.astro
  astro-frontend/src/pages/prayer-corner.astro
  astro-frontend/src/services/get-prayer-for-the-year.ts
  strapi-backend/src/api/prayer-for-the-year/content-types/prayer-for-the-year/schema.json
  strapi-backend/src/api/prayer-for-the-year/controllers/prayer-for-the-year.ts
  strapi-backend/src/api/prayer-for-the-year/routes/prayer-for-the-year.ts
  strapi-backend/src/api/prayer-for-the-year/services/prayer-for-the-year.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: logic for checking empty content in prayer required for fallback
  astro-frontend/src/assets/static-assets/stay-tuned-kok.png
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
Due: prettier --write

fix: rename of centenary hall
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/centenary-hall.astro
  astro-frontend/src/pages/kok/centenary-hall.astro
Due: prettier --write, eslint --fix

feat: add events section for commissions
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/event.ts
  astro-frontend/src/pages/kok/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/kok/parish-pastoral-21-commissions/events.astro
  astro-frontend/src/pages/parish-pastoral-21-commissions.astro
  astro-frontend/src/pages/parish-pastoral-21-commissions/events.astro
  strapi-backend/src/api/event/content-types/event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: implement clickable carousel
  astro-frontend/src/components/sections/landing-page/homepage-carousel-section.astro
  astro-frontend/src/components/ui/HomepageCarousel.tsx
  astro-frontend/src/models/landing-page-carousel.ts
Due: prettier --write, eslint --fix

feat: add support for yt link and more info link
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/prayer-for-the-year.ts
  strapi-backend/src/api/prayer-for-the-year/content-types/prayer-for-the-year/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: implement youtube iframe renderer
  astro-frontend/bun.lock
  astro-frontend/bun.lockb
  astro-frontend/src/components/sections/landing-page/homepage-carousel-section.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
  astro-frontend/src/helpers/get-funeral-details.ts
  astro-frontend/src/helpers/get-youtube-url.ts
  astro-frontend/src/helpers/is-rich-text-empty.ts
  astro-frontend/src/helpers/magazine.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/prayer-for-the-year.ts
  astro-frontend/src/pages/centenary-hall.astro
  astro-frontend/src/pages/kok/centenary-hall.astro
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/kok/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
  astro-frontend/src/pages/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/prayer-corner.astro
  astro-frontend/src/services/get-prayer-for-the-year.ts
Due: prettier --write, eslint --fix

fix: remove bun lock from Dockerfile
  astro-frontend/Dockerfile
Due: none

feat: implement dynamic prayer for the year section
  astro-frontend/Dockerfile
  astro-frontend/bun.lock
  astro-frontend/bun.lockb
  astro-frontend/src/assets/static-assets/stay-tuned-kok.png
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/landing-page/homepage-carousel-section.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/helpers/get-funeral-details.ts
  astro-frontend/src/helpers/get-youtube-url.ts
  astro-frontend/src/helpers/is-rich-text-empty.ts
  astro-frontend/src/helpers/magazine.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/prayer-for-the-year.ts
  astro-frontend/src/pages/centenary-hall.astro
  astro-frontend/src/pages/kok/centenary-hall.astro
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/kok/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/kok/prayer-corner.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
  astro-frontend/src/pages/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/prayer-corner.astro
  astro-frontend/src/services/get-prayer-for-the-year.ts
  strapi-backend/src/api/prayer-for-the-year/content-types/prayer-for-the-year/schema.json
  strapi-backend/src/api/prayer-for-the-year/controllers/prayer-for-the-year.ts
  strapi-backend/src/api/prayer-for-the-year/routes/prayer-for-the-year.ts
  strapi-backend/src/api/prayer-for-the-year/services/prayer-for-the-year.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: render council image if it exists
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/models/parish-pastoral-council.ts
Due: prettier --write, eslint --fix

refactor: rename varible and correct typo
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/kok/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/pompei-sabha-bhavan.astro
Due: prettier --write, eslint --fix

fix: add text justify property
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
Due: prettier --write

fix: council-image-rendering (#321)
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/parish-pastoral-council.ts
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/kok/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/pompei-sabha-bhavan.astro
Due: prettier --write, eslint --fix

feat: rename commissions and add new fields to commissions
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/models/parish-pastoral-21-commission.ts
  astro-frontend/src/models/parish-pastoral-commission.ts
  astro-frontend/src/services/list-parish-pastoral-21-commissions.ts
  astro-frontend/src/services/list-parish-pastoral-commissions.ts
  strapi-backend/src/api/parish-pastoral-21-commission/content-types/parish-pastoral-21-commission/schema.json
  strapi-backend/src/api/parish-pastoral-21-commission/controllers/parish-pastoral-21-commission.ts
  strapi-backend/src/api/parish-pastoral-21-commission/routes/parish-pastoral-21-commission.ts
  strapi-backend/src/api/parish-pastoral-21-commission/services/parish-pastoral-21-commission.ts
  strapi-backend/src/api/parish-pastoral-commission/content-types/parish-pastoral-commission/schema.json
  strapi-backend/src/api/parish-pastoral-commission/controllers/parish-pastoral-commission.ts
  strapi-backend/src/api/parish-pastoral-commission/routes/parish-pastoral-commission.ts
  strapi-backend/src/api/parish-pastoral-commission/services/parish-pastoral-commission.ts
  strapi-backend/src/components/shared/commission-block.json
  strapi-backend/types/generated/components.d.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: add dynamic support for commissions
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/sections/parish-pastoral-21-commissions/commission-card.astro
  astro-frontend/src/components/sections/parish-pastoral-commissions/commission-card.astro
  astro-frontend/src/constants/message.ts
  astro-frontend/src/constants/nav-links.ts
  astro-frontend/src/pages/[commissionsTitleSlug].astro
  astro-frontend/src/pages/[commissionsTitleSlug]/events.astro
  astro-frontend/src/pages/kok/[commissionsTitleSlug].astro
  astro-frontend/src/pages/kok/[commissionsTitleSlug]/events.astro
  strapi-backend/src/api/parish-pastoral-commission/content-types/parish-pastoral-commission/schema.json
  strapi-backend/src/api/parish-pastoral-council-core-committee/content-types/parish-pastoral-council-core-committee/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Change navbar class to allow vertical scrolling
  astro-frontend/src/components/navbar.astro
Due: prettier --write

fix(nav): change navbar overflow from hidden to auto
  astro-frontend/src/components/navbar.astro
Due: prettier --write

fix: council image rendering (#321)
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/parish-pastoral-council.ts
  astro-frontend/src/pages/kok/parish-pastoral-council.astro
  astro-frontend/src/pages/kok/pompei-sabha-bhavan.astro
  astro-frontend/src/pages/parish-pastoral-council.astro
  astro-frontend/src/pages/pompei-sabha-bhavan.astro
Due: prettier --write, eslint --fix

fix(nav): change navbar overflow from hidden to auto (#324)
  astro-frontend/src/components/navbar.astro
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,astro,json,md,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
