Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: data loss prompt on language switch
  astro-frontend/src/helpers/data-loss-confirmation.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/scripts/achievement-form.ts
  astro-frontend/src/scripts/language-switcher.ts
Due: prettier --write, eslint --fix

fix: data loss prompt on language switch (#252)
  astro-frontend/src/helpers/data-loss-confirmation.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/scripts/achievement-form.ts
  astro-frontend/src/scripts/language-switcher.ts
Due: prettier --write, eslint --fix

fix: handle language switch when same locale and hover for buttons
  astro-frontend/src/components/sections/parishioners-achievements/data-loss-confirmation.astro
  astro-frontend/src/helpers/data-loss-confirmation.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
  astro-frontend/src/scripts/language-switcher.ts
Due: prettier --write, eslint --fix

feat: add support for english title and short description in events
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/models/event.ts
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  strapi-backend/Dockerfile
  strapi-backend/src/api/event/content-types/event/lifecycles.ts
  strapi-backend/src/api/event/content-types/event/schema.json
Due: prettier --write, eslint --fix

feat: add submitting button
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
Due: prettier --write, eslint --fix

chore(deps): upgrade node, strapi and astro version to LTS
  astro-frontend/.nvmrc
  astro-frontend/bun.lock
  astro-frontend/package.json
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  strapi-backend/.nvmrc
  strapi-backend/bun.lock
  strapi-backend/package.json
Due: prettier --write, eslint --fix

fix: submitting and data confirmation
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/sections/parishioners-achievements/data-loss-confirmation.astro
  astro-frontend/src/helpers/data-loss-confirmation.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
Due: prettier --write, eslint --fix

feat: add glow for warning
  astro-frontend/src/components/sections/parishioners-achievements/data-loss-confirmation.astro
  astro-frontend/src/helpers/data-loss-confirmation.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/styles/warning.css
Due: prettier --write, eslint --fix

refactor: move all constants to index and mail localisation
  astro-frontend/src/constants/constants.ts
  astro-frontend/src/constants/entries-per-page.ts
  astro-frontend/src/constants/index.ts
  astro-frontend/src/helpers/get-achievement-email-html.ts
  astro-frontend/src/helpers/send-email.ts
  astro-frontend/src/helpers/validate-file-input.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/api/send-achievement.ts
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/obituary/ward/[ward].astro
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/obituary/ward/[ward].astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/sitemap-events.xml.ts
  astro-frontend/src/pages/sitemap-index.xml.ts
  astro-frontend/src/pages/sitemap-obituaries.xml.ts
  astro-frontend/src/pages/sitemap.xml.ts
  astro-frontend/src/scripts/achievement-form.ts
  strapi-backend/src/constants/index.ts
  strapi-backend/src/utils/send-email.ts
Due: prettier --write, eslint --fix

feat: add x button and refactor validation additional images
  astro-frontend/src/helpers/validate-additional-images.ts
  astro-frontend/src/helpers/validate-file-input.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
Due: prettier --write, eslint --fix

refactor: remove unused IDs from events sections and update URL constants for upcoming events
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

feat: dynamic addition of x button
  astro-frontend/src/constants/index.ts
  astro-frontend/src/helpers/validate-additional-images.ts
  astro-frontend/src/helpers/validate-file-input.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
  strapi-backend/pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update bun lock file
  astro-frontend/bun.lock
Due: none

chore: update FE and BE deps to latest versions
  CONTRIBUTORS.md
  astro-frontend/bun.lockb
  astro-frontend/package.json
  strapi-backend/bun.lockb
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write

feat(improvement): clean multi-stage builds
  astro-frontend/Dockerfile
Due: none

chore: update FE and BE deps to latest versions
  CONTRIBUTORS.md
  astro-frontend/Dockerfile
  astro-frontend/bun.lockb
  astro-frontend/package.json
  strapi-backend/bun.lockb
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write

chore: remove form and criteria
  astro-frontend/bun.lockb
  astro-frontend/src/constants/achievement-criteria.ts
  astro-frontend/src/constants/index.ts
  astro-frontend/src/helpers/get-achievement-email-html.ts
  astro-frontend/src/helpers/validate-additional-images.ts
  astro-frontend/src/helpers/validate-file-input.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/api/send-achievement.ts
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
Due: prettier --write, eslint --fix

fix: add recipients back
  astro-frontend/src/constants/index.ts
Due: prettier --write, eslint --fix

feat: implement lifecycles for Pompeichem Falkem to send email and push notifications on create and update events
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/lifecycles.ts
Due: prettier --write, eslint --fix

feat: implement pagination for magazine listings and enhance UI components
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
  astro-frontend/src/services/list-magazines.ts
Due: prettier --write, eslint --fix

fix: adjust layout for magazine card and pagination components
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
Due: prettier --write

feat: implement pagination for magazine listings and enhance UI compo… (#256)
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
  astro-frontend/src/services/list-magazines.ts
Due: prettier --write, eslint --fix

fix: ui improvements
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/parishioners-achievement.ts
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
  astro-frontend/src/services/parishioners-achievements/get-achiever.ts
  astro-frontend/src/services/parishioners-achievements/list-achievements.ts
  strapi-backend/src/api/parishioners-achievement/content-types/parishioners-achievement/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

chore: remove files related to achievements
  astro-frontend/src/helpers/data-loss-confirmation.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/scripts/language-switcher.ts
  astro-frontend/src/styles/warning.css
Due: prettier --write, eslint --fix

chore: remove forms and form related features (#254)
  astro-frontend/bun.lockb
  astro-frontend/src/constants/achievement-criteria.ts
  astro-frontend/src/constants/index.ts
  astro-frontend/src/helpers/data-loss-confirmation.ts
  astro-frontend/src/helpers/get-achievement-email-html.ts
  astro-frontend/src/helpers/validate-additional-images.ts
  astro-frontend/src/helpers/validate-file-input.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/api/send-achievement.ts
  astro-frontend/src/pages/kok/submit-achievement.astro
  astro-frontend/src/pages/submit-achievement.astro
  astro-frontend/src/scripts/achievement-form.ts
  astro-frontend/src/scripts/language-switcher.ts
  astro-frontend/src/styles/warning.css
Due: prettier --write, eslint --fix

chore: format and remove files with achievement card width fix
  astro-frontend/package.json
  astro-frontend/src/assets/icons/calendar.svg
  astro-frontend/src/assets/icons/check-mark.svg
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/parishioners-achievements/additional-images-carousel.astro
  astro-frontend/src/components/sections/parishioners-achievements/data-loss-confirmation.astro
  astro-frontend/src/components/sections/parishioners-achievements/parishioners-achievements-list.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/constants/index.ts
  astro-frontend/src/constants/nav-links.ts
  astro-frontend/src/helpers/send-email.ts
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
  astro-frontend/src/services/list-magazines.ts
  astro-frontend/src/services/parishioners-achievements/get-achiever.ts
  astro-frontend/src/services/parishioners-achievements/list-achievements.ts
Due: prettier --write, eslint --fix

refactor: rename variables
  astro-frontend/src/constants/index.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/obituary/ward/[ward].astro
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/obituary/ward/[ward].astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: hide nav link
  astro-frontend/src/constants/nav-links.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: enhance magazine display with publication dates and special edition titles
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/components/ui/SelectYearRedirect.tsx
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/helpers/magazine.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/pompeichem-falkem.ts
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
  astro-frontend/src/services/list-magazines.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: merge conflict remove duplicates
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
Due: prettier --write

fix: remove redundant declaration of showPagination
  astro-frontend/src/components/pagination.astro
Due: prettier --write

fix: og image for achievers
  astro-frontend/src/pages/kok/parishioners-achievements/[...slug].astro
  astro-frontend/src/pages/parishioners-achievements/[...slug].astro
Due: prettier --write

feat: update magazine card layout and sharing options; enhance year selection and sorting
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/components/ui/SelectYearRedirect.tsx
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/lifecycles.ts
Due: prettier --write, eslint --fix

fix: update WhatsApp share URL handling and improve date formatting in lifecycles
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/lifecycles.ts
Due: prettier --write, eslint --fix

fix: magazine view description and update image dimensions
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
Due: prettier --write, eslint --fix

fix: add dynamic slug handling
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/pages/kok/pompeichem-falkem/[slug].astro
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,astro,json,md,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
