Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: patron page ui
  astro-frontend/package.json
  astro-frontend/src/components/anniversary.tsx
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write, eslint --fix

chore: added the English version of the novena in place of the Konkani one
  astro-frontend/src/constants/novena.ts
Due: prettier --write, eslint --fix

chore: added the english version of the novena
  astro-frontend/src/constants/novena.ts
Due: prettier --write, eslint --fix

chore: update to the latest node LTS and fix the english novena font
  astro-frontend/Dockerfile
  astro-frontend/package.json
  astro-frontend/src/components/sections/prayer-corner/novena.astro
Due: prettier --write

chore: update the node version
  astro-frontend/.npmrc
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/package.json
  strapi-backend/Dockerfile
  strapi-backend/package.json
Due: prettier --write

chore: update the konkani novena
  astro-frontend/src/components/sections/prayer-corner/novena.astro
  astro-frontend/src/constants/novena.ts
Due: prettier --write, eslint --fix

chore: add the english version of the novena (#289)
  astro-frontend/.npmrc
  astro-frontend/.nvmrc
  astro-frontend/Dockerfile
  astro-frontend/package.json
  astro-frontend/src/components/sections/prayer-corner/novena.astro
  astro-frontend/src/constants/novena.ts
  strapi-backend/Dockerfile
  strapi-backend/package.json
Due: prettier --write, eslint --fix

chore: update prototype images
  astro-frontend/public/prototype-kok.png
  astro-frontend/public/prototype.png
Due: none

chore: remove pnpm-lock.yaml and add new contributor
  CONTRIBUTORS.md
  astro-frontend/pnpm-lock.yaml
Due: prettier --write

chore: update README.md
  README.md
Due: prettier --write

chore: add Fr. Gratian to the list and fixed the date in lifecycles.ts
  astro-frontend/src/constants/parish-history.ts
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

chore: tiny fixes
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

chore: added the big man Fr. Gracian to the mix cuz he was feeling left out in the english version, also made changes to the date rendering in lifecycles.ts
  astro-frontend/src/constants/parish-history.ts
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

chore: add Fr. Gracian's details and change rendering of date in upcoming events
  astro-frontend/src/constants/parish-history.ts
  strapi-backend/package.json
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

chore: add Fr. Gracian's details and change rendering of date in (#292)
  astro-frontend/src/constants/parish-history.ts
  strapi-backend/package.json
  strapi-backend/src/api/upcoming-event/content-types/upcoming-event/lifecycles.ts
Due: prettier --write, eslint --fix

chore: remove Jubilee section
  astro-frontend/src/assets/prayer-corner/jubliee-logo.jpeg
  astro-frontend/src/assets/prayer-corner/jubliee-prayer.jpeg
  astro-frontend/src/components/sections/prayer-corner/jubilee-year.astro
  astro-frontend/src/pages/kok/prayer-corner.astro
  astro-frontend/src/pages/prayer-corner.astro
Due: prettier --write

fix: change top padding of the gallery images and remove subtitle
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/kok/gallery.astro
Due: prettier --write, eslint --fix

fix: change top padding of the gallery images and remove subtitle (#294)
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/gallery.astro
  astro-frontend/src/pages/kok/gallery.astro
Due: prettier --write, eslint --fix

feat: add Konkani translations to footer
  astro-frontend/src/components/footer.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

feat: add Konkani translations to footer
  astro-frontend/src/components/footer.astro
Due: prettier --write

feat: merry christmas
  astro-frontend/package-lock.json
  astro-frontend/package.json
  astro-frontend/src/components/ChristmasPopup.tsx
  astro-frontend/src/components/ChristmasSnowfall.tsx
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/index.astro
  astro-frontend/src/pages/kok/index.astro
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

Update Konkani translation for footer.powered-by
  astro-frontend/astro.config.mjs
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

feat: add Konkani translations to footer
  astro-frontend/astro.config.mjs
  astro-frontend/src/components/footer.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Revert "feat: add Konkani translations to footer"
  astro-frontend/astro.config.mjs
  astro-frontend/src/components/footer.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Revert "feat: add Konkani translations to footer "
  astro-frontend/astro.config.mjs
  astro-frontend/src/components/footer.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Add Konkani translations to footer
  astro-frontend/src/components/footer.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Reapply "feat: add Konkani translations to footer "
  astro-frontend/astro.config.mjs
  astro-frontend/src/components/footer.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

feat: add localization options for office bearers component
  astro-frontend/src/constants/social-media-handles.ts
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  strapi-backend/src/api/association/content-types/association/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

refactor: remove associationName attribute from event schema
  strapi-backend/src/api/event/content-types/event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: add Kokani localization support for obituary and magazine compo… (#263)
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/landing-page/about-church-section.astro
  astro-frontend/src/components/sections/landing-page/mass-timings-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/constants/index.ts
  astro-frontend/src/helpers/get-pagination-range.ts
  astro-frontend/src/helpers/magazine.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/obituary.ts
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/scripts/language-switcher.ts
  strapi-backend/src/api/association-office-bearer/content-types/association-office-bearer/schema.json
  strapi-backend/src/api/association-office-bearer/controllers/association-office-bearer.ts
  strapi-backend/src/api/association-office-bearer/routes/association-office-bearer.ts
  strapi-backend/src/api/association-office-bearer/services/association-office-bearer.ts
  strapi-backend/src/api/event/content-types/event/schema.json
  strapi-backend/src/api/obituary/content-types/obituary/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

chore: update FE and BE deps to latest versions (#265)
  astro-frontend/bun.lock
  astro-frontend/package.json
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write

hotfix: downgrade backend and enable proxy
  strapi-backend/config/server.ts
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add patron page
  astro-frontend/src/assets/pompei/our-lady-of-pompei.jpg
  astro-frontend/src/assets/religious-priests/fr-pius-pinto.jpg
  astro-frontend/src/assets/religious-priests/fr-pius-pinto.png
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/constants/nav-links.ts
  astro-frontend/src/constants/religious-vocations.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,astro,json,md,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
