Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,jsx,tsx,astro,json,md,yml}": ["prettier --write"],
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

refactor: bring in code uniformity
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions.astro
  astro-frontend/src/pages/parish-pastoral-commissions.astro
Due: prettier --write

fix: add another sorting parameter createdAt (#337)
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/helpers/get-events-by-newest.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions.astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-pastoral-commissions.astro
  astro-frontend/src/services/events/event-search.ts
  astro-frontend/src/services/events/list-events.ts
  astro-frontend/src/services/obituaries/obituary-search.ts
Due: prettier --write, eslint --fix

Revert "fix: add another sorting parameter createdAt (#337)"
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/helpers/get-events-by-newest.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions.astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-pastoral-commissions.astro
  astro-frontend/src/services/events/event-search.ts
  astro-frontend/src/services/events/list-events.ts
  astro-frontend/src/services/obituaries/obituary-search.ts
Due: prettier --write, eslint --fix

revert: fix: add another sorting parameter createdAt (#337) (#338)
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/helpers/get-events-by-newest.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions.astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-pastoral-commissions.astro
  astro-frontend/src/services/events/event-search.ts
  astro-frontend/src/services/events/list-events.ts
  astro-frontend/src/services/obituaries/obituary-search.ts
Due: prettier --write, eslint --fix

fix: add createdAt sorting parameter for events
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions.astro
  astro-frontend/src/pages/parish-pastoral-commissions.astro
  astro-frontend/src/services/events/list-events.ts
Due: prettier --write, eslint --fix

chore: remove get events by newest file
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/helpers/get-events-by-newest.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
Due: prettier --write, eslint --fix

chore: remove unncessary module imports
  astro-frontend/src/pages/events/[...slug].astro
Due: prettier --write

fix: add createdAt sorting parameter for events (#339)
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/helpers/get-events-by-newest.ts
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions.astro
  astro-frontend/src/pages/parish-pastoral-commissions.astro
  astro-frontend/src/services/events/list-events.ts
Due: prettier --write, eslint --fix

chore: add jsdocs
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/services/events/event-search.ts
  astro-frontend/src/services/events/list-events.ts
  astro-frontend/src/services/obituaries/obituary-search.ts
Due: prettier --write, eslint --fix

chore: remove warnings in build and add page titles
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions/events.astro
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/parish-pastoral-commissions/events.astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
Due: prettier --write

fix: conditionally render page nos in the title
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-pastoral-commissions/commission-card.astro
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions/events.astro
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/parish-pastoral-commissions/events.astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
Due: prettier --write, eslint --fix

fix: events title for associations
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions/events.astro
  astro-frontend/src/pages/parish-pastoral-commissions/events.astro
Due: prettier --write, eslint --fix

fix: add another sorting parameter createdAt (#337)
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-pastoral-commissions/commission-card.astro
  astro-frontend/src/helpers/get-events-by-newest.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/events.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/events.astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions.astro
  astro-frontend/src/pages/kok/parish-pastoral-commissions/events.astro
  astro-frontend/src/pages/kok/parishioners-achievements.astro
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/kok/pompeichem-falkem.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/parish-pastoral-commissions.astro
  astro-frontend/src/pages/parish-pastoral-commissions/events.astro
  astro-frontend/src/pages/parishioners-achievements.astro
  astro-frontend/src/pages/pompeichem-falkem.astro
  astro-frontend/src/services/events/event-search.ts
  astro-frontend/src/services/events/list-events.ts
  astro-frontend/src/services/obituaries/obituary-search.ts
Due: prettier --write, eslint --fix

feat: strapi setup for religious vocations
  astro-frontend/src/components/sections/religious-nuns/religious-nuns-list.astro
  astro-frontend/src/components/sections/religious-priests/religious-priests-list.astro
  astro-frontend/src/components/ui/network-image.astro
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/models/religious-vocation.ts
  astro-frontend/src/pages/kok/religious-vocations.astro
  astro-frontend/src/pages/religious-vocations.astro
  astro-frontend/src/services/religious-vocations/get-religious-vocations.ts
  strapi-backend/src/api/religious-vocation/content-types/religious-vocation/schema.json
  strapi-backend/src/api/religious-vocation/controllers/religious-vocation.ts
  strapi-backend/src/api/religious-vocation/routes/religious-vocation.ts
  strapi-backend/src/api/religious-vocation/services/religious-vocation.ts
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: localize halls
  astro-frontend/src/assets/halls/pompei-sabha-bhavan.jpg
  astro-frontend/src/assets/halls/psb-int-1.jpg
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/halls/pompei-sabha-bhavan-hall.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

feat(seo): add hreflang alternates for English and Konkani pages
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

MAde changes
  astro-frontend/src/enums/hreflang.ts
  astro-frontend/src/layouts/layout.astro
Due: prettier --write, eslint --fix

Remove stashed changes from layout.astro
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

feat(seo): add hreflang alternates for English and Konkani pages (#343)
  astro-frontend/src/enums/hreflang.ts
  astro-frontend/src/layouts/layout.astro
Due: prettier --write, eslint --fix

Fix: Apply proper fonts and add missing translations for halls
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/halls/pompei-sabha-bhavan-hall.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

feat: localize halls (#342)
  astro-frontend/src/assets/halls/pompei-sabha-bhavan.jpg
  astro-frontend/src/assets/halls/psb-int-1.jpg
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/halls/pompei-sabha-bhavan-hall.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

Revert "feat: localize halls (#342)"
  astro-frontend/src/assets/halls/pompei-sabha-bhavan.jpg
  astro-frontend/src/assets/halls/psb-int-1.jpg
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/components/sections/halls/centenary.astro
  astro-frontend/src/components/sections/halls/pompei-sabha-bhavan-hall.astro
  astro-frontend/src/i18n/ui.ts
Due: prettier --write, eslint --fix

feat(gallery): add magnifier icon with hover visibility
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
Due: prettier --write

feat: gallery zoom icon (#345)
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
Due: prettier --write

feat(logo): add png format logo of the church
  astro-frontend/public/pompei-church-logo.png
Due: none

refactor(ui): restrict hover effects to desktop using md:hover
  astro-frontend/src/components/ChristmasPopup.tsx
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/push-notification.astro
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/prayer-corner/PsalmSelector.tsx
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
  astro-frontend/src/components/ui/FuneralInfoButton.tsx
  astro-frontend/src/components/ui/LanguageSwitcher.tsx
  astro-frontend/src/components/ui/SelectAssociationRedirect.tsx
  astro-frontend/src/components/ui/SelectWard.tsx
  astro-frontend/src/components/ui/SelectWardRedirect.tsx
  astro-frontend/src/components/ui/SelectYearRedirect.tsx
  astro-frontend/src/components/ui/ShareLink.tsx
  astro-frontend/src/components/ui/embla-dots.astro
  astro-frontend/src/components/ui/hoverable-link.astro
  astro-frontend/src/components/ui/share-link.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
Due: prettier --write, eslint --fix

fix: syntax issues
  astro-frontend/src/components/sections/associations/association-details.astro
Due: prettier --write

feat(gallery): refine magnifier icon stroke and size
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
Due: prettier --write

Replace custom can-hover variant with Tailwind arbitrary media query variant [@media(hover:hover)]:hover:
  astro-frontend/src/components/ChristmasPopup.tsx
  astro-frontend/src/components/EventSearch.tsx
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/ObituarySearch.tsx
  astro-frontend/src/components/footer.astro
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/push-notification.astro
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/parishioners-achievements/achievements-card.astro
  astro-frontend/src/components/sections/prayer-corner/PsalmSelector.tsx
  astro-frontend/src/components/sections/prayer-corner/prayer-for-the-year.astro
  astro-frontend/src/components/ui/FuneralInfoButton.tsx
  astro-frontend/src/components/ui/LanguageSwitcher.tsx
  astro-frontend/src/components/ui/SelectAssociationRedirect.tsx
  astro-frontend/src/components/ui/SelectWard.tsx
  astro-frontend/src/components/ui/SelectWardRedirect.tsx
  astro-frontend/src/components/ui/SelectYearRedirect.tsx
  astro-frontend/src/components/ui/ShareLink.tsx
  astro-frontend/src/components/ui/embla-dots.astro
  astro-frontend/src/components/ui/hoverable-link.astro
  astro-frontend/src/components/ui/share-link.astro
  astro-frontend/src/components/ui/strapi-blocks-renderer.tsx
  astro-frontend/src/components/ui/whatsapp-share.tsx
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/patron-of-our-parish.astro
  astro-frontend/src/pages/patron-of-our-parish.astro
  astro-frontend/src/styles/global.css
Due: prettier --write, eslint --fix

Made fixes
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/enums/religious-vocation-role.ts
  astro-frontend/src/models/religious-vocation.ts
  astro-frontend/src/pages/kok/religious-vocations.astro
  astro-frontend/src/pages/religious-vocations.astro
  astro-frontend/src/services/religious-vocations/get-religious-vocations.ts
  strapi-backend/src/api/religious-vocation/content-types/religious-vocation/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Typescript issues
  astro-frontend/src/components/vocation-card.astro
Due: prettier --write

fix: resolve syntax error in masonry gallery
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
Due: prettier --write

chore: format masonry gallery
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
Due: prettier --write

Feat/gallery zoom icon (#347)
  astro-frontend/src/components/sections/gallery/masonry-gallery.astro
Due: prettier --write

Fixed more issues
  astro-frontend/src/enums/religious-vocation-role.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/models/religious-vocation.ts
  astro-frontend/src/pages/kok/religious-vocations.astro
  astro-frontend/src/pages/religious-vocations.astro
  astro-frontend/src/services/religious-vocations/get-religious-vocations.ts
  strapi-backend/src/api/religious-vocation/content-types/religious-vocation/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Made changes to the model
  astro-frontend/src/models/religious-vocation.ts
Due: prettier --write, eslint --fix
