Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fix: Pagination for selected ward
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write

Fix: pagination for selected ward and dropdownbox select ward option
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/ui/SelectWardRedirect.tsx
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/obituary/[ward].astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/obituary/[ward].astro
Due: prettier --write, eslint --fix

Fix: Add removed fuctionality and selectward dropdownbox
  astro-frontend/src/components/ui/SelectWardRedirect.tsx
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write, eslint --fix

Fix:English to konkani in filter ward
  astro-frontend/src/components/ui/SelectWardRedirect.tsx
  astro-frontend/src/constants/message.ts
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/obituary/[ward].astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/obituary/[ward].astro
Due: prettier --write, eslint --fix

Fix : client:only changed to client:load for selectward
  astro-frontend/package.json
  astro-frontend/src/components/ui/SelectWardRedirect.tsx
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write, eslint --fix

Fix: bun lock file
  astro-frontend/bun.lock
  astro-frontend/pnpm-lock.yaml
Due: none

Feat/obituary ward select (#211)
  astro-frontend/bun.lock
  astro-frontend/pnpm-lock.yaml
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/ui/SelectWardRedirect.tsx
  astro-frontend/src/constants/message.ts
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/obituary/[ward].astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/obituary/[ward].astro
  astro-frontend/src/services/obituaries/list-obituaries.ts
Due: prettier --write, eslint --fix

Fix: Pagination in events page
  astro-frontend/src/components/pagination.astro
Due: prettier --write

Feat/obituary ward select (#212)
  astro-frontend/src/components/pagination.astro
Due: prettier --write

feat: replace googleDriveLink with fileUrl and add pdfFile upload in strapi
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/models/pompeichem-falkem.ts
  astro-frontend/src/services/list-magazines.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: replace googleDriveLink with fileUrl and add pdfFile upload in strapi (#213)
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/models/pompeichem-falkem.ts
  astro-frontend/src/services/list-magazines.ts
  strapi-backend/src/api/pompeichem-falkem/content-types/pompeichem-falkem/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

feat: update middleware and server configurations to support larger file uploads (300MB)
  strapi-backend/config/middlewares.ts
  strapi-backend/config/plugins.ts
  strapi-backend/config/server.ts
Due: prettier --write, eslint --fix

feat: update middleware and server configurations to support larger file uploads (300MB) (#214)
  strapi-backend/config/middlewares.ts
  strapi-backend/config/plugins.ts
  strapi-backend/config/server.ts
Due: prettier --write, eslint --fix

Revert "feat: update middleware and server configurations to support larger f…"
  strapi-backend/config/middlewares.ts
  strapi-backend/config/plugins.ts
  strapi-backend/config/server.ts
Due: prettier --write, eslint --fix

fix: js to ts
  strapi-backend/config/middlewares.ts
  strapi-backend/config/plugins.ts
  strapi-backend/config/server.ts
Due: prettier --write, eslint --fix

Revert "feat: update middleware and server configurations to support larger f…" (#215)
  strapi-backend/config/middlewares.ts
  strapi-backend/config/plugins.ts
  strapi-backend/config/server.ts
Due: prettier --write, eslint --fix

feat: update middleware and server configurations to support larger file size (#216)
  strapi-backend/config/middlewares.ts
  strapi-backend/config/plugins.ts
  strapi-backend/config/server.ts
Due: prettier --write, eslint --fix

Feat: Add recent events in association page
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/models/event.ts
  pnpm-lock.yaml
  strapi-backend/pnpm-lock.yaml
  strapi-backend/src/api/event/content-types/event/schema.json
  strapi-backend/src/api/parish-priest-and-deacon/content-types/parish-priest-and-deacon/schema.json
Due: prettier --write, eslint --fix

Fix: recent events for association page in konkani
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/constants/association-title-mapping.ts
Due: prettier --write, eslint --fix

Feat association (#217)
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/constants/association-title-mapping.ts
  astro-frontend/src/models/event.ts
  pnpm-lock.yaml
  strapi-backend/pnpm-lock.yaml
  strapi-backend/src/api/event/content-types/event/schema.json
  strapi-backend/src/api/parish-priest-and-deacon/content-types/parish-priest-and-deacon/schema.json
Due: prettier --write, eslint --fix

Feat: add events backend changes
  strapi-backend/src/api/event/content-types/event/schema.json
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Revert "feat: update middleware and server configurations to support larger f…" (#219)
  strapi-backend/config/middlewares.ts
  strapi-backend/config/plugins.ts
  strapi-backend/config/server.ts
Due: prettier --write, eslint --fix

Feat: Add more events for association
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  strapi-backend/src/api/event/content-types/event/schema.json
Due: prettier --write

Fix: headings of association event
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
Due: prettier --write

fix: navbar ui
  astro-frontend/src/components/navbar.astro
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

Fix: event heading for each association
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
Due: prettier --write

Fix: spaces in association page
  astro-frontend/src/components/sections/associations/association-details.astro
Due: prettier --write

Fix: add space after event in heading
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
Due: prettier --write

Feat: Add more events for association (#220)
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/associations/[slug]/events.astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[slug]/events.astro
  strapi-backend/src/api/event/content-types/event/schema.json
Due: prettier --write

Feat: Implement breadcrumbs component for improved navigation
  astro-frontend/src/components/breadcrumbs.astro
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

Refactor: Simplify language switcher and navbar components; remove unused styles and scripts
  astro-frontend/src/components/breadcrumbs.astro
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/scripts/language-switcher.ts
  astro-frontend/src/styles/navbar-styles.css
Due: prettier --write, eslint --fix

fix:sub nav top gap remove from nav
  astro-frontend/src/styles/navbar-styles.css
Due: none

fix:sub nav top gap remove from nav (#223)
  astro-frontend/src/styles/navbar-styles.css
Due: none

Feat: Enhance language switcher UI; improve SEO schema and navigation
  astro-frontend/src/components/breadcrumbs.astro
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/navbar.astro
Due: prettier --write

Fix: Adjust layout and spacing in language switcher and navbar components
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/navbar.astro
Due: prettier --write

Fix: Improve accessibility and visibility of language switcher dropdown
  astro-frontend/src/components/language-switcher.astro
Due: prettier --write

Refactor: Streamline language switcher component; enhance button and list accessibility
  astro-frontend/src/components/language-switcher.astro
Due: prettier --write

feat: add Breadcrumbs component and integrate into layout
  astro-frontend/src/components/breadcrumbs.astro
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,astro,json,md,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
