Repository nigelperis/pompeichurch-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,jsx,tsx,astro,json,md,yml}": ["prettier --write"],
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

fix: conditional script loading on main domains
  astro-frontend/src/components/google-analytics.astro
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

fix: allow crawlers only on main domains
  astro-frontend/public/robots.txt
  astro-frontend/src/pages/robots.txt.ts
Due: prettier --write, eslint --fix

feat: add Breadcrumbs component and integrate into layout (#224)
  astro-frontend/src/components/breadcrumbs.astro
  astro-frontend/src/layouts/layout.astro
Due: prettier --write

fix: expose new env to docker
  astro-frontend/.env.example
  astro-frontend/Dockerfile
Due: none

fix: analytics and crawlers for main domains (#225)
  astro-frontend/.env.example
  astro-frontend/Dockerfile
  astro-frontend/public/robots.txt
  astro-frontend/src/components/google-analytics.astro
  astro-frontend/src/layouts/layout.astro
  astro-frontend/src/pages/robots.txt.ts
Due: prettier --write, eslint --fix

chore(debug): allow crawlers
  astro-frontend/src/pages/env.ts
  astro-frontend/src/pages/robots.txt.ts
Due: prettier --write, eslint --fix

Feat : add 404 not found page for unknown routes
  astro-frontend/src/pages/404.astro
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
Due: prettier --write

Trigger Build
  astro-frontend/src/pages/404.astro
Due: prettier --write

Feat : add 404 not found page for unknown routes (#226)
  astro-frontend/src/pages/404.astro
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
Due: prettier --write

fix: ui for cards
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/styles/navbar-styles.css
  strapi-backend/types/generated/contentTypes.d.ts
Due: prettier --write, eslint --fix

fix: analytics and crawlers for main domains (#225)
  astro-frontend/.env.example
  astro-frontend/Dockerfile
  astro-frontend/public/robots.txt
  astro-frontend/src/components/google-analytics.astro
  astro-frontend/src/layouts/layout.astro
  astro-frontend/src/pages/env.ts
  astro-frontend/src/pages/robots.txt.ts
Due: prettier --write, eslint --fix

Fix : size of the obituary card share button
  astro-frontend/src/components/ObituaryCardMin.tsx
Due: prettier --write, eslint --fix

Fix : size of the obituary card share button (#228)
  astro-frontend/src/components/ObituaryCardMin.tsx
Due: prettier --write, eslint --fix

Refactor: Hero section of main landing page
  astro-frontend/src/assets/landing-page/Pompei_church_hero.jpg
  astro-frontend/src/assets/landing-page/Pompei_church_hero_1.jpg
  astro-frontend/src/assets/landing-page/Pompei_church_hero_mobile.jpg
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
Due: prettier --write

Feat: Add lenis scrolling and scroll design , refactor hero page
  astro-frontend/bun.lock
  astro-frontend/package.json
  astro-frontend/src/assets/landing-page/church-landing.png
  astro-frontend/src/assets/landing-page/church-landing.webp
  astro-frontend/src/components/navbar.astro
  astro-frontend/src/components/sections/landing-page/hero-section.astro
  astro-frontend/src/helpers/lenis-config.ts
  astro-frontend/src/i18n/ui.ts
  astro-frontend/src/layouts/layout.astro
  astro-frontend/src/styles/global.css
  astro-frontend/src/types/lenis.d.ts
Due: prettier --write, eslint --fix

feat: update obituary sharing functionality and improve URL structure
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/ui/ShareLink.tsx
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/obituary/ward/[ward].astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/obituary/ward/[ward].astro
Due: prettier --write, eslint --fix

fix: add optional chaining
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write

fix: add dimensions for placeholder image
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write

fix: use english title for placeholder image
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write

fix: add optional chaining (#231)
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/obituary.astro
Due: prettier --write

feat: add title and subtitle
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/obituary/[slug].astro
Due: prettier --write

feat: update obituary sharing functionality and improve URL structure (#230)
  astro-frontend/src/components/ObituaryCard.tsx
  astro-frontend/src/components/ObituaryCardMin.tsx
  astro-frontend/src/components/ui/ShareLink.tsx
  astro-frontend/src/pages/kok/obituary/[slug].astro
  astro-frontend/src/pages/kok/obituary/ward/[ward].astro
  astro-frontend/src/pages/obituary/[slug].astro
  astro-frontend/src/pages/obituary/ward/[ward].astro
Due: prettier --write, eslint --fix

fix: generate sitemaps dynamically
  astro-frontend/astro.config.mjs
  astro-frontend/public/sitemap-0.xml
  astro-frontend/public/sitemap-index.xml
  astro-frontend/src/pages/sitemap-events.xml.ts
  astro-frontend/src/pages/sitemap-index.xml.ts
  astro-frontend/src/pages/sitemap-obituary.xml.ts
  astro-frontend/src/pages/sitemap.xml.ts
Due: prettier --write, eslint --fix

fix: modify obituary url
  astro-frontend/src/pages/sitemap-obituary.xml.ts
Due: prettier --write, eslint --fix

fix: use date from build time
  astro-frontend/src/constants/last-modified-date.ts
  astro-frontend/src/pages/sitemap.xml.ts
Due: prettier --write, eslint --fix

fix: generate custom sitemaps (#232)
  astro-frontend/astro.config.mjs
  astro-frontend/public/sitemap-0.xml
  astro-frontend/public/sitemap-index.xml
  astro-frontend/src/constants/last-modified-date.ts
  astro-frontend/src/pages/sitemap-events.xml.ts
  astro-frontend/src/pages/sitemap-index.xml.ts
  astro-frontend/src/pages/sitemap-obituary.xml.ts
  astro-frontend/src/pages/sitemap.xml.ts
Due: prettier --write, eslint --fix

fix: add text for all getPlaceholderImage
  astro-frontend/src/components/sections/associations/association-details.astro
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/components/sections/wards/ward-details.astro
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
Due: prettier --write

fix: ui bugs
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/components/vpsec-card.astro
  astro-frontend/src/pages/associations/[...slug].astro
  astro-frontend/src/pages/kok/associations/[...slug].astro
  astro-frontend/src/pages/kok/ex-vp-secretaries.astro
Due: prettier --write

chore: remove env.ts
  astro-frontend/src/pages/env.ts
Due: prettier --write, eslint --fix

feat: add share button in falkem
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].ts
Due: prettier --write, eslint --fix

Trigger Build
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].ts
Due: prettier --write, eslint --fix

Fix: add medium size og image for falkem
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
Due: prettier --write

feat: add share button in falkem (#234)
  astro-frontend/src/components/magazine-card.astro
  astro-frontend/src/pages/pompeichem-falkem/[slug].astro
Due: prettier --write

fix: remove scale on hover
  astro-frontend/src/components/vocation-card.astro
  astro-frontend/src/components/vpsec-card.astro
Due: prettier --write

fix: sitemap rendering for more than 25 entries
  astro-frontend/package.json
  astro-frontend/src/pages/sitemap-events.xml.ts
  astro-frontend/src/pages/sitemap-index.xml.ts
  astro-frontend/src/pages/sitemap-obituaries.xml.ts
  astro-frontend/src/pages/sitemap.xml.ts
Due: prettier --write, eslint --fix
